[2017-10-13 12:45] johannessteu commented on #1080
Can't reproduce as well

[2017-10-13 13:18] skurfuerst commented on #966
Bugfix: https://github.com/neos/neos-ui/pull/1142

[2017-10-13 14:13] johannessteu commented on #774
I'll give it a try this weekend!

[2017-10-13 14:51] dimaip opened #1143 "Do we need/want to add cache bursting to our JS asset links?"
I feel that old versions of the UI often get staled, so I have to tell editors to hard reload, to make sure they have the latest version... Could we just add cache bursting?

[2017-10-16 04:02] mstruebing commented on #1128
I can reproduce it and it is only occuring if you go back and hit cancel in the previous dialog. If you hit the `x` the name is discarded

[2017-10-16 04:46] #1128 closed

[2017-10-16 04:53] mstruebing commented on #1108
Hey @thujeevan, do you still want to tackle this issue?

[2017-10-16 04:53] mstruebing commented on #1104
hey @thefifthisa, do you still want to tackle this issue?

[2017-10-16 06:18] #1139 closed

[2017-10-16 07:33] dimaip commented on #774
Probably should use react-dnd for it, since we already use it.

[2017-10-16 07:58] johannessteu commented on #774
Jip! I wanted to check the nodetree etc. to use the same lib

[2017-10-16 08:01] dimaip commented on #774
react-dnd has some learning curve, got to read through a few tutorials to get it.
You'd need to add your drag type here: https://github.com/neos/neos-ui/blob/master/packages/neos-ui/src/Containers/dndTypes.js

[2017-10-16 08:02] johannessteu commented on #774
I already implemented it in a dashboard we use internally, so guess i'll get id working. But thanks for the hint!!

[2017-10-16 14:13] thujeevan commented on #1108
@mstruebing Sorry, I couldn't have time to work on it. Feel free to take it.

[2017-10-16 14:29] dimaip commented on #1043
actually I'll do it during the Vienna sprint on personal time, since it's kind of my personal itch ~Dmitri*)

This will be done by porting data views, that's exactly what I'm doing right now.

[2017-10-16 14:36] dimaip opened #1146 "Try out Structured Editing / Create Concept"
Let's start gathering some ideas here.

[2017-10-16 14:38] dimaip commented on #1146
The main issue I see with this, is that once we bring our components into the inline UI, they will start fighting with userland CSS and JS (this problem already happens on one of my projects with the inline toolbar buttons). Also what will happen if there is a user React app/widget on the page?

[2017-10-16 15:03] dimaip opened #1147 "Drag-n-Drop in content canvas"
The simplest implementation could be just to add move handle to the inline toolbar and drop targets to before and after elements in CCs.
Should work exactly as it does in the tree. The smooth scrolling would be done with the plugin that we use in the tree.
We can even make draging work from the tree into inline and vice versa.

@aertmann had an idea back in the ages to show a map of zoomed-out vie

[2017-10-16 15:38] dimaip commented on #103
Will reopen to not forget about it.

[2017-10-16 22:20] dimaip opened #1149 "Create an image node on image drop"
We should support pasting/dropping images (and other media types) into Neos.
The problem is what type of node to create on paste?
I propose to introduce a config that would tell the UI what node to create based on media type.

E.g.:

[code]

[2017-10-17 05:58] skurfuerst opened #1150 "ContentCollection empty handles cannot be removed"
(needed for Punkt.de)

[2017-10-17 05:59] skurfuerst opened #1151 "When navigating through inline navigation, cannot go back to previous page"
**[<- must-have for 1.0.0](https://github.com/neos/neos-ui/issues/687)**

- Go to page A in document tree
- navigate to page B in content area
- select page A in document tree again
- expected: selection to page A works
- actual: no navigation is triggered to PageA

[2017-10-17 08:46] dimaip commented on #1151
Can reproduce. When fixing please add TestCafe test to cover the case.

[2017-10-17 09:05] bwaidelich commented on #1149
What exactly does that mean? E.g. dragging/dropping a file to the stage? or to the node/structure tree or inspector? or all of these?

If it's "just" a global handler for any file dropped onto the backend, I think a dialog would make a lot of sense actually. It could for example offer options for cropping, caption and/or the node type this is mapped to.

Too much hassle to implement or for the use

[2017-10-17 11:02] dfeyer commented on #1043
As said in Slack: Some many ideas now that the UI is a thing again :wink: but please for the v1, focus on what we have, we need to have a better overview of the futur UI kit, before starting to build stuff here and here

[2017-10-17 12:23] dimaip commented on #1043
@dfeyer I can assure you that bug fixing and implementing missing features is our strict priority, but the "problem" is that we don't have enough bugs left, so we can afford to give some efforts to do technical implementation of some directions of development we all agree on, like structured editing :smile:

Once UX guild gets together and comes up with a unified concept of visual UX improvements,

[2017-10-17 13:13] skurfuerst commented on #1151
will try testcafe tests :)

[2017-10-17 14:24] dimaip commented on #1149
@bwaidelich not exactly global, but maybe when CC or one of its nodes is focused. In that moment if you ctrl+v an image from clipboard it would create a new image node. Same for dragging an image via dnd, allowed drop targets should be shown inside content canvas, and maybe also in content tree.

Too much hassle for the user. If he's shown with the node creation dialog with all of the nodes in the

[2017-10-18 06:04] #1150 closed

[2017-10-18 06:12] dimaip opened #1154 "Respect policies from Policy.yaml"
**[<- must-have for 1.0.0](https://github.com/neos/neos-ui/issues/687)**

Policy | Desired effect | old UI | new UI
------|----|--|--------
NodeTreePrivilege | hide from the tree and disable editing. Make sure works during search/filter | YES | NO
CreateNodePrivilege | shouldn't show those nodes which you are not allowed to create. | NO | NO
RemoveNodePrivilege | should disable delete node buttons

[2017-10-18 06:37] #1114 closed

[2017-10-18 06:37] #1073 closed

[2017-10-18 07:46] daniellienert opened #1155 "Focus the first editable element after creating a new node"
If add a new node which contains an editable text field, it would be great, if the keyboard focus selects the first editable field in the created node to just start writing.

[2017-10-18 09:00] dimaip commented on #1155
That will be a great UX improvement. Not sure how easy it is to do technically with CKE.
Wdyt @skurfuerst?

[2017-10-19 08:59] #1108 closed

[2017-10-19 09:45] dimaip opened #1159 "Remembering collapsed/expanded states of page and structure tree items"
https://twitter.com/Mindpilot1/status/920925064916324353

Do you think this is actually a good idea? Should we do it?

[2017-10-19 12:27] mstruebing opened #1162 "Add Keyboard Navigation for searchable dropdowns"
**[<- must-have for 1.0.0](https://github.com/neos/neos-ui/issues/687)**

[2017-10-19 13:06] mstruebing commented on #1080
Closing this for now as we both can't reproduce it. If anybody can reproduce feel free to open it again

[2017-10-19 13:07] #1080 closed

[2017-10-19 13:11] mstruebing commented on #937
Can't reproduce as well. I think Dmitri is right, if you(or someone else) think this is is a bug feel free to open again and provide further details.

[2017-10-19 13:11] #937 closed

[2017-10-19 13:13] mstruebing commented on #1074
Can't reproduce, feel free to open if it is happening again.

[2017-10-19 13:13] #1074 closed

[2017-10-19 13:14] mstruebing commented on #1102
I'm closing now. If it is the case in the current state feel free to open again.

[2017-10-19 13:14] #1102 closed

[2017-10-20 15:09] dimaip opened #1166 "Text overlaps chevron in SelectBox"
**[<- must-have for 1.0.0](https://github.com/neos/neos-ui/issues/687)**

![image](https://user-images.githubusercontent.com/837032/31827899-795193a0-b5c1-11e7-96be-9f758c042014.png)

[2017-10-20 15:10] dimaip commented on #1166
@crazydrecksack hey, do you still want to take care of things like these?

[2017-10-21 05:54] #774 closed

[2017-10-23 07:15] mstruebing opened #1167 "Update to react v16"
**[<- must-have for 1.0.0](https://github.com/neos/neos-ui/issues/687)**

[2017-10-23 12:23] mstruebing opened #1171 "Rework color names"
As addressed here: https://github.com/neos/neos-ui/pull/1169

We should rework the current color names.
Color names are defined here: https://github.com/neos/brand/blob/master/index.js

By doing this make sure to replace all hardcoded colors in the UI with constants.

[2017-10-23 16:47] kitsunet opened #1173 "Accessibility epic"
Add interesting links and issues regarding accessiblity to this epic so we remember to take care.

http://simplyaccessible.com/article/react-a11y/

https://www.smashingmagazine.com/2017/10/nailing-accessibility-design/

[2017-10-24 05:47] daniellienert opened #1174 "Inline editing seems broken on Chrome 62.0.3202.62"
Since the latest chrome version from 23.10.2017 the inline editing is broken while it works flawlesly with firefox.

Mac OSX: 10.12.6

These error show up in the console:

![image](https://user-images.githubusercontent.com/642226/31926542-612dddf8-b88f-11e7-8393-d1cc40f2069a.png)

[2017-10-24 07:31] daniellienert commented on #1174
Mhmh ... now its gone ...

[2017-10-24 09:31] dimaip commented on #1067
Also currently it's not possible to delete rows/columns, merge cells etc.
Probably we need smth like this? https://ckeditor.com/cke4/addon/tabletools

[2017-10-24 12:10] bwaidelich commented on #1149
CC?

Yes, that would be nice!

Personally I dislike the lowlevel components (aka Atoms) to be exposed to the editor. So in my case there's usually not a common `Image` node but for example an `Employee` node with an image property.
For those cases it would be nice if the image could be draged/pasted to the image property editor and possibly to the stage where the image is to be rendered..

[2017-10-24 12:17] mstruebing commented on #1149
CC = ContentCollection I think.

[2017-10-24 12:22] dimaip commented on #1149
CC = ContentCollection.

It already is possible to drag into image property editor. But pasted? Don't think that's something editors will expect.

[2017-10-24 12:57] bwaidelich commented on #1149
FYI: Not sure if it's relevant to us because we currently don't allow images in RTE texts but CKEditor has support for inline images and the latest version even with dnd it seems (https://youtu.be/SJVbAxvLJJY)

[2017-10-24 13:06] dimaip commented on #1149
Yeah, but I guess it's something completely anti-Neosy to put a big blob of unstrctured html markup into one field, right?
I'd imagine we would go into into the direction of structured editing and build such rich editing experiences based on structured data from our CR.

[2017-10-24 14:23] dimaip commented on #1067
Sorry, I accidentally fixed it while working on smth else.

[2017-10-24 15:09] dimaip commented on #1166
![image](https://user-images.githubusercontent.com/837032/31950920-66fef86a-b8e5-11e7-8dc9-6d3d027ebb5d.png)

[2017-10-24 15:47] #1105 closed

[2017-10-24 18:58] #1134 closed

[2017-10-24 18:58] dimaip commented on #1126
Is it fixed now?

[2017-10-24 19:00] dimaip commented on #879
Done

[2017-10-24 19:00] #879 closed

[2017-10-25 05:22] mstruebing commented on #1166
The issue of the second screenshot still exists

[2017-10-25 07:13] dimaip commented on #1166
Yes, I just closed by accident and the re-opened.

[2017-10-25 07:17] dimaip commented on #1106
Thanks. Closing as duplicate of #1162

[2017-10-25 07:17] #1106 closed

[2017-10-25 07:18] dimaip commented on #1057
Probably makes sense when we upgrade to CKE5.

[2017-10-25 07:22] dimaip commented on #861
Settings.yaml: loading user scripts. Passing settings to frontend.

[2017-10-25 07:24] dimaip commented on #855
Can't reproduce anymore. Feel free to reopen if it's still there for you.

[2017-10-25 07:24] #855 closed

[2017-10-25 07:26] dimaip commented on #697
@skurfuerst does this work now?

[2017-10-25 07:28] dimaip commented on #363
Sorry, I don't understand the discussion here. What is `reloadDocumentIfChanged`? Never heard of this config. What's wrong with current implementation of `reloadIfChanged`?

[2017-10-25 07:33] dimaip commented on #1151
@skurfuerst I think you have fixed it already, haven't you?

[2017-10-25 07:39] dimaip commented on #892
I'm adding this for 1.0, as we still have some time left, and this feature existed in the old UI, so would be sad if the new UI will not have it.

[2017-10-25 07:42] dimaip commented on #1155
Can we try to squeeze it in for 1.0 too.? Pleeease... :)

[2017-10-25 07:43] dimaip commented on #1154
For 1.0 we must at least implement the things that were there in the old UI, i.e. `NodeTreePrivilege` and `EditNodePrivilege`.

[2017-10-25 07:48] dimaip commented on #647
Removing from 1.0 for now.

[2017-10-25 07:56] dimaip commented on #944
Link editor is done I think, References editor still missing.

[2017-10-25 08:44] dimaip opened #1178 "CKeditor should use the UI language"
We should set the user's locale language for CKeditor via:
[code]
Currently it's visible in the table properties editor.

Here: https://github.com/neos/neos-ui/blob/master/packages/neos-ui-ckeditor-bindings/src/createCkEditor.js#L26

[2017-10-25 09:17] #1167 closed

[2017-10-25 09:23] #1067 closed

[2017-10-25 09:23] #1009 closed

[2017-10-25 10:07] mstruebing opened #1179 "Pagetree doesn't get class expanded"
I thought this issue was fixed already sometime but I can't find the old issue right now.

I think the pagetree doesn't get the expanded class.
Also this have to be changed to `height` I think: https://github.com/neos/neos-ui/blob/master/packages/neos-ui/src/Containers/LeftSideBar/NodeTree/style.css#L7

![123](https://user-images.githubusercontent.com/12071529/31993203-c6dbc42e-b97c-11e7-9f86-4627

[2017-10-25 11:02] johannessteu opened #1180 "Fix border-radius for Chrome 62 on MacOS"
Chrome 62 on MacOS will render some elements like buttons with a default border-radius wich affects our UI. Therefore we need to set a default border-radius:none in our css

![bildschirmfoto 2017-10-25 um 12 35 18](https://user-images.githubusercontent.com/769789/31995427-9b3ecade-b984-11e7-8f62-30af4ab6d686.png)

Google-Changelog:
https://www.chromestatus.com/features/5743649186906112

[2017-10-25 11:31] mstruebing opened #1181 "Find out why react-keydown doesn't trigger update for searchable selectbox"
As figured out in #1165 `react-keydown` doesn't trigger an update when arrow keys are pressed, this is why we had to set `onKeyDown` explicitly.
It would be good to figure out why this is happening as we plan to add more keyboard support to the UI

[2017-10-25 11:35] #1104 closed

[2017-10-25 11:35] #1162 closed

[2017-10-25 11:44] Bobeta commented on #1180
I'll help you with this 👍

[2017-10-25 11:48] dimaip commented on #1180
Thanks @Bobeta! Might make sense to check if newer version of normalize.css would fix it: https://github.com/neos/neos-ui/blob/master/packages/neos-ui/src/styleHostOnly.css#L1

[2017-10-25 11:57] dimaip opened #1184 "removeFormat CKE button wrong icon"
![image](https://user-images.githubusercontent.com/837032/31997484-d025e2ea-b994-11e7-92d7-e2388a23fea4.png)

[2017-10-25 11:59] Bobeta commented on #1180
@dimaip An issue exists, but no update has been made on Normalize since the release of v7 in may

[2017-10-25 12:58] dimaip opened #1186 "No spinner shown while uploading images in image editor"
When you upload a large image, there's no loading indicator shown while it's uploading, leaving the editors confused:

![peek 2017-10-25 15-56](https://user-images.githubusercontent.com/837032/31999765-2abf263c-b99d-11e7-9e46-0db22c385a8e.gif)

[2017-10-25 12:59] #1179 closed

[2017-10-25 13:05] dimaip opened #1187 "Spinner icon is rotating together with its square background..."
![peek 2017-10-25 16-03](https://user-images.githubusercontent.com/837032/32000113-41c531c2-b99e-11e7-9356-35c4bab90f43.gif)

[2017-10-25 17:39] petmat commented on #1187
I'll take a look at this!

[2017-10-26 08:33] johannessteu commented on #596
Can't reproduce

[2017-10-26 13:08] johannessteu opened #1193 "Disable CKEditor context menu"
![bildschirmfoto 2017-10-26 um 15 06 58](https://user-images.githubusercontent.com/769789/32054662-7de360ae-ba5f-11e7-81a7-9c15824e2ed8.png)

[2017-10-26 16:47] dimaip commented on #1193
Can't be disabled without disabling tabletools plugin, which breaks most functionality for editing pages... The proper way to fix it is to migrate to CKE5.

[2017-10-26 16:56] johannessteu commented on #1193
Can we then style the dialog?

[2017-10-26 17:19] dimaip commented on #1193
Which dialog?

[2017-10-27 11:07] #1166 closed

[2017-10-30 13:46] #1174 closed

[2017-10-30 13:48] daniellienert opened #1200 "Script tag including the nodes is rendered in "Live" mode."
I don't know if this is indented, but as log as a backend session exists, the nodes JSON is rendered, even if I'm not in the backend.

`<script>(function(){(this['@Neos.Neos.Ui:Nodes']  ... `

[2017-10-31 09:33] dimaip commented on #1193
Seems it's easily solvable: https://codepen.io/mlewand/pen/bYNqzq
Anyone wants to take care?

[2017-10-31 15:45] putzwasser opened #1201 "Prototype-based page rendering causes an infinite loop for non-existing page prototypes"
# Problem

Rendering a page using page prototypes (see manual section [Using a DefaultPage Prototype](http://neos.readthedocs.io/en/latest/HowTos/SelectingPageTemplate.html#using-a-defaultpage-prototype)) causes an infinite loop in the backend.

# Steps to reproduce

1. Override the `root` `Case` object to render pages using prototypes:
[code]
2. Add a document node type definition to the `NodeTyp

[2017-11-01 04:50] mstruebing commented on #1187
Hey @petmat, do you still plan to work on this?

[2017-11-01 04:51] mstruebing commented on #1180
This can be closed, already fixed.

[2017-11-01 04:51] #1180 closed

[2017-11-01 04:53] mstruebing opened #1202 "Update normalize when button-reset state is merged/released"
The issue described in #1180 and fixed in #1185 should be removed when normalize is updated.

An issue exists here https://github.com/necolas/normalize.css/issues/706
And open PR: https://github.com/necolas/normalize.css/pull/697

Sadly there din't happen anything since May.

[2017-11-01 08:38] dimaip commented on #1201
The question is, does that prototype really exist?

[2017-11-01 09:49] daniellienert opened #1204 "Image Crop cannot be applied when changing aspect ratio"
If I change the aspect ratio in the image crop module, the dotted border changes, but this change cannot be applied.
If the border is draged a bit, the apply button is active.

[2017-11-01 10:16] petmat commented on #1187
Hi, I would very much still like to look at this, but I've had some serious issues installing and running Neos CMS. I'm not sure if it is because I'm trying to run it on Windows. But just now it seemed that I got the Neos CMS installed so I can progress to getting Neos UI up and running. So if it is still ok with you I would like to see if I can fix this.

[2017-11-01 15:30] putzwasser commented on #1201
No, that's the point

[2017-11-01 20:44] kitsunet commented on #1178
Mmmm, do we actually have the language anywhere?

[2017-11-03 12:27] #1143 closed

[2017-11-03 14:11] kitsunet commented on #596
can't reproduce, just tested again. The <br> ends up INSIDE of the H1, but that is just fine...

[2017-11-03 14:11] #596 closed

[2017-11-03 14:12] kitsunet commented on #1132
Sounds like a great idea.

[2017-11-03 15:03] kitsunet commented on #1151
Can't reproduce anymore.

[2017-11-03 16:15] kitsunet commented on #697
_Seems_ to work, just did a quick test. Although I *think* to be fully correct this `&` would need to be urlencoded => `%26`
Technically right now we are sending TWO arguments to the server. `node` and `country`. (Can be tested if you check the arguments displayed in a phpinfo() if you append that query string to it)

[2017-11-03 17:15] dfeyer opened #1208 "Support recent changes for the Asset Editor"
See https://github.com/neos/neos-development-collection/pull/1727

This should be supported in 1.0 https://github.com/neos/neos-ui/issues/687

[2017-11-03 17:23] dfeyer opened #1209 "Support recent change in "Allow modification of uploaded assets based on node""
See https://github.com/neos/neos-development-collection/pull/1728

This should be supported in 1.0 https://github.com/neos/neos-ui/issues/687

[2017-11-03 18:42] dimaip commented on #363
Should it only work with nodes inside content collections, or also with nodes that are direct childNodes of a document node?

[2017-11-03 18:43] #1204 closed

[2017-11-03 18:45] #1137 closed

[2017-11-04 09:50] daniellienert opened #1210 "Complete Translation"
Some of the labels use the translation already, but the mostly used elements do not:

Examples:
![image](https://user-images.githubusercontent.com/642226/32404320-d13ed748-c14d-11e7-95a8-8ffd7a80b61c.png)
![image](https://user-images.githubusercontent.com/642226/32404324-d9d34de4-c14d-11e7-8bbc-187b4a77d910.png)
![image](https://user-images.githubusercontent.com/642226/32404327-ec15912e-c14d-11e7-

[2017-11-04 09:51] daniellienert opened #1211 "Image upload button shows the label key instead of the value"
`<button title="Neos.Neos:Modules:media.chooseFile"  ... `

[2017-11-04 17:15] daniellienert opened #1214 "Options of the select box editor in the node creation dialog should visible"
(Needs to be said first: The adjustable node creation dialog is a really great feature of the new UI!)

If the selectbox editor is expanded, the options are hidden in the frame - and one need to scroll down. This needs a better solution.

![image](https://user-images.githubusercontent.com/642226/32407613-14f7f1ac-c18c-11e7-91ab-04dae0ca7e73.png)

[2017-11-04 17:45] mstruebing opened #1216 "Don't replace dot with underscore in i18n id"
Like mentioned in #1215 it is currently not possible to use translation id's with `.` in their name.

https://github.com/neos/neos-ui/blob/master/packages/neos-ui-i18n/src/registry/I18nRegistry.js#L75 replaces every `.` with an `_`.

Edit: It's not just replacing, in the translations are both cases, with an underscore and with a dot. So we need a different approach here.

[2017-11-04 17:47] mstruebing opened #1217 "No translation for 'to'?"
Like mentioned in #1215 I couldn't find any translation for `to`.
This is needed for: https://github.com/neos/neos-ui/blob/master/packages/neos-ui/src/Containers/PrimaryToolbar/PublishDropDown/index.js#L119

Edit: found smth: https://github.com/neos/neos-development-collection/blob/master/Neos.Neos/Resources/Private/Translations/de/Main.xlf#L143

[2017-11-04 19:20] #1217 closed

[2017-11-04 22:22] dfeyer commented on #892
Check https://neos-project.slack.com/files/U4A2LD7QU/F7UV045EF/ui_select_box.mov the react UI as some kind of partial support of the grouping ;)

[2017-11-05 15:18] kitsunet commented on #1101
I would _love_ to get rid of that. It is sometimes convenient but overall feels like not exactly great UX.

[2017-11-05 15:22] kitsunet commented on #1077
Also can't reproduce.

[2017-11-05 15:25] kitsunet commented on #1028
IMHO not a planned feature but rather a "useful" bug?

I guess it would be cool to actually have a way to do that. But not something we urgently need to do?

[2017-11-06 06:16] #1211 closed

[2017-11-06 06:19] dimaip commented on #1214
Yep, been hit by it too.
But in general, I have no idea of how the looks of this node creation dialog could be improved. E.g. now it's obviously too wide. Make it more narrow? Allow to layouts elements inside it in a grid? And do all of this while not over-engineering...

Perhaps good first step would be to make it more narrow and fix this z-index issue.

[2017-11-06 06:22] #1210 closed

[2017-11-06 06:27] #1077 closed

[2017-11-07 04:43] #845 closed

[2017-11-07 04:46] #1200 closed

[2017-11-07 13:57] klfman opened #1224 "Using refresh button on ContentCollection refreshes with wrong translation"
I switched the neos ui to German in my User Settings. As expected, "ContentCollection" is named by its i18n-name for German (which is "Inhaltssammlung") in the structure tree for ContentNodeTypes. However: When pushing the refresh button (with the two arrows) of this part of the ui the name is switched back to it's untranslated english version "ContentCollection".

When refreshing the browser wind

[2017-11-08 08:37] #875 closed

[2017-11-08 08:40] #874 closed

[2017-11-08 09:23] klfman opened #1225 "Relogin after timeout reloads complete neos ui within inner iframe"
After some time of inactivity the neos editing backend asks for credentials. When I enter them and thus relogin, the site is reloaded. However, instead of just reloading the whole page, the neos ui (with all controls) and the webpage being edited is rendered inside of the inner iframe where only the webpage should be displayed.

Can be fixed by reloading the page in the browser.

[2017-11-08 11:21] skurfuerst commented on #1151
fixed <3

[2017-11-08 11:21] #1151 closed

[2017-11-08 11:22] skurfuerst commented on #1126
fixed by now. Was an implementation error

[2017-11-08 11:22] #1126 closed

[2017-11-08 11:22] skurfuerst commented on #1101
I'd *not* implement it in the new UI :) Closing ticket as we seem to agree

[2017-11-08 11:22] #1101 closed

[2017-11-08 11:24] skurfuerst commented on #892
I think the grouping is basically implemented, but the keyboard-accessibility-change broke it again. Correct @mstruebing - could this be? :-)

[2017-11-08 21:23] #944 closed

[2017-11-09 16:21] mad99 opened #1231 "Error-throwing because of click on link to anchor in same page (created in old UI)"
Have changed as an experiment from «old» to «reactUI». **Great experience!**
_Found only one little problem with anchor to the same page._

Maybe it is a wrong doing from my side. Because I wrote for the old UI nodeTypes and fusion code for define «classes» and «ID» for any text or headline nodeType. The fusion code pregReplace-ed this in the relevant «htmlTag». Worked great, but as Christian Müll

[2017-11-10 10:57] klfman opened #1232 "Newline in inline text variable adds <p> tag that is never removed"
When entering text inline in the neos-backend, the entered text is saved in the property as plaintext, e.g.:
`The text`

However, it is also possible to enter a linebreak, introducing a new paragraph. This results in the wrapping of the text in <p> tags, e.g.:
`<p>The text</p><p> </p>`

When the linebreak is removed afterwards, the p around "The text" is not stripped, even if the editor would expe

[2017-11-10 10:58] klfman commented on #1232
One could argue, that empty lines at the beginning and end of the entered text should be trimmed (and thus the generated <p>-tags should be omitted to avoid unintended behavior)

[2017-11-12 13:01] johannessteu commented on #1224
Can't reproduce. When i reload the structure tree it is still _Inhaltssammlung_ . Can someone else reproduce this one?

[2017-11-13 07:54] daniellienert opened #1233 "Handling of backend exceptions (when uploading an image)"
At least some exception from the backend are not delivered correctly to the new UI / are not handled in a way that a meaningful error occurs. I don't know if this is a general problem or depends on the controller action called.

If an image is uploaded, which cannot be validated you get the message:

![image](https://user-images.githubusercontent.com/642226/32714870-0d007f76-c850-11e7-80e7-4724f35

[2017-11-13 09:43] Inkdpixels opened #1234 "Move the babel and jest configurations into separate packages to ease the maintenance"
A smaller nitpick would be to move out the babel and jest configurations into preset packages within the mono-repo, that way we reduce the maintenance when adding / removing parameters.

[2017-11-13 11:01] Inkdpixels opened #1237 "Switching to prettier"
Hey pal's,

I've been using [prettier](https://github.com/prettier/prettier) in recent times more and more and found it to be a great enhancement for the developer experience. For those who don't know prettier, it is a automatic code-formater, in combination with a git-pre-commit-hook we can say goodbye to the all-to-common "TASK: Satisfy linter" commits / breaking builds due to ESLint.

Prettier'

[2017-11-13 11:17] johannessteu commented on #1225
Can't reproduce. Anyone else?

[2017-11-13 11:43] Inkdpixels opened #1238 "Update to Node 8.9.1 LTS"
Just a little reminder that we should update to the latest LTS of node.

[2017-11-13 12:00] Inkdpixels opened #1239 "Improve the tests of the UI"
During the sprint in Vienna I took the time to shift through the codebase and I think that we should really invest more time in the quality of the code and even more in testing.

By the time of writing this the whole codebase was 20-30% covered by unit tests, which makes it a big risk to refactor or even just change stuff. I do understand that we had to set some priorities to get to the 1.0.0, but

[2017-11-13 12:38] dimaip commented on #1237
100% support this

[2017-11-13 12:43] #1224 closed

[2017-11-13 14:20] samuelhauser commented on #1216
I'll have a look at this issue

[2017-11-13 14:26] daniellienert opened #1242 "Closing "X" on re-login screen has no functionality"
When you click on the "X" on the relogin screen, nothing happens.

![image](https://user-images.githubusercontent.com/642226/32730213-a801a8ac-c886-11e7-9dd1-b3fd35be26a8.png)

My suggestion to remove the X completely or redirect to the main login screen if klicked.

[2017-11-13 14:56] grebaldi opened #1243 "Throw away node metadata script tags after initialization"
We're facing some interference with the script tags when :nth-child selectors or flexbox are used in the iframe.

Since we only need them during initialization it would be feasible to just remove the script tags afterwards. We'd still have a flash of wrongly styled content, but then at least the styles wouldn't be broken.

[2017-11-13 15:07] grebaldi opened #1244 "UI reloads indefinitely if the session is timeed out on iframe load"
The implementation currently looks for the document meta data in the recently loaded iframe. If it doesn't find any, it tries to navigate back. But since the session is gone, it'll do that forever.

Somehow, the iframe mechanism needs to understand, whether it currently displays the login screen. If so, it should open the internal Login Dialog and then reload the iframe on successful login.

[2017-11-13 15:18] grebaldi opened #1245 "Login page leads to "Page not found" after reload"
If your session times out and you reload the entire UI, you will land on the default login screen. After logging in, you currently won't be redirected back to the UI, but get stuck on a 404 page.

The error is most likely related to a missing default format in the Routes.yaml of the UI.

[2017-11-13 15:21] Inkdpixels opened #1246 "Moving the documentation into the repository"
During the first sprints we've made the decision to document everything in the [repositories wiki](https://github.com/neos/neos-ui/wiki), but it doesn't seem to be getting the love it deserves, as far as I can tell it is out of date and was not maintained / updated during the past months.

I would propose to dump the wiki, and move the docs into the repository as it is common for Flow packages, an

[2017-11-13 15:31] Inkdpixels opened #1247 "Enhance the babel preset for a better developer expirience"
Just as the `create-react-app` babel preset does, we could enhance the developer experience by adding the `plugin-transform-react-jsx-source` and `plugin-transform-react-jsx-self` babel plugins, both add more valuable debug information to Reacts internal errors and should only be enabled in development environments.

Reference:
https://github.com/facebookincubator/create-react-app/blob/master/pack

[2017-11-13 15:35] grebaldi opened #1248 "UI doesn't handle uriPathSegment change correctly"
Currently, if you change the uriPathSegment of the current document, you cannot navigate to any pages beneath that anymore, see:

https://drive.google.com/file/d/15usMRYk2ZphsmzVuaA2sfjKF4Il-tAvb/view

[2017-11-13 18:19] Inkdpixels opened #1250 "Revert the premature optimization of usage of React.PureComponent"
Currently the codebase makes heavy use of `React.PureComponent`, as far as I can remember this was a premature optimization, and we should revisit this as soon as possible and only use the `PureComponent` class where it is necessary.

[2017-11-13 18:42] Inkdpixels commented on #36
@dimaip @skurfuerst FYI in the recent months my task was to setup a react/redux mono-repo with flow support and have fixed most of the issues / built workarounds.

My opinion on this matter is, that it definitely enhances the developer experience, especially for newcomers or people who are not that aware of the state structure / data model. A downside, that everybody needs to accept is that Flow's

[2017-11-13 18:57] dimaip commented on #1246
Not sure if it would really help keeping it up to date, but why not. Also I would propose to update the new PR template to add the docs checkbox, that would be another reminder not to forget about it.

[2017-11-13 19:16] dimaip commented on #36
I think this is actually a very good investment. In that case we could drop the proptypes, right?

[2017-11-13 19:30] dimaip opened #1252 "Localise loading state of SelectBox"
![image](https://user-images.githubusercontent.com/837032/32744905-6bec823a-c8b1-11e7-9541-cccf434922b1.png)

[2017-11-14 06:28] #1178 closed

[2017-11-15 09:15] skurfuerst opened #1257 "After typing "<!--" in the editor, the backend breaks"
If I type `<!--` in an inline editor and I reload the bckend, I cannot change the node anymore.

[2017-11-15 09:17] skurfuerst opened #1258 "test <script>alert("Foo")</script>"

[2017-11-15 09:17] #1258 closed

[2017-11-15 09:22] johannessteu commented on #1202
The issue #1180 is actually back?!
<img width="349" alt="bildschirmfoto 2017-11-15 um 10 07 03" src="https://user-images.githubusercontent.com/769789/32828269-e80f4ce2-c9ee-11e7-8ef3-b710af573a6f.png">

[2017-11-15 09:25] samuelhauser commented on #1252
@dimaip i'll have a look at this

[2017-11-15 10:04] kitsunet commented on #1257
Can confirm, this bug exists.

[2017-11-15 10:06] markusguenther commented on #1187
I will take a look if it is Ok @petmat

[2017-11-15 10:16] kitsunet commented on #1257
we set config.basicEntities to `false` which is strongly discouraged by CK, don't know if that is on purpose, will try if something obviously breaks if I re-enable it.

[2017-11-15 10:49] skurfuerst commented on #1257
thanks <3 maybe check via git blame when it was set to False :) @kitsunet

[2017-11-15 11:17] kitsunet commented on #1257
Yep ofc, waiting for @dimaip because he set it but the reasons are unclear to me. Will check with him. Definitely fixes the issues though, so much I can say already.

[2017-11-15 12:17] samuelhauser opened #1262 "MasterPluginEditor and PluginViewsEditor is missing"
The `MasterPluginEditor` and the `PluginViewsEditor` is missing

[2017-11-15 12:18] johannessteu opened #1263 "ImageEditor does not respect the configured Features"
Given this configuration:
[code]

As an editor i'd expect the crop function to be disabled. But it is still available.

[2017-11-15 12:50] #1193 closed

[2017-11-15 12:52] #1242 closed

[2017-11-15 12:53] skurfuerst commented on #1257
Thanks <3

[2017-11-15 12:54] dimaip commented on #1202
AFAIK, Chrome team recognized it as a bug and they will revert it.

[2017-11-15 12:58] johannessteu opened #1264 "ImageEditor does not support resize Feature for now"
Right now the resize feature is not supported as it is not integrated yet

[2017-11-15 13:06] #1257 closed

[2017-11-15 13:45] #1263 closed

[2017-11-15 14:26] Inkdpixels opened #1267 "Remove the separate "build" test-suite"
I think we can free up some travis resources by removing the "Build" Test-Suite at [L36](https://github.com/neos/neos-ui/blob/master/.travis.yml#L36) since the stage does not serve any purpose since it will only execute `yarn build`, which will be execute for each test suite anyway prior on [L85](https://github.com/neos/neos-ui/blob/master/.travis.yml#L85)

[2017-11-15 14:51] Inkdpixels commented on #36
@dimaip yep, we could drop them and optionally transform flow types into react-prop-types for the client, or even further transform all flow types into run-time type-checks using the [babel-runtime](https://codemix.github.io/flow-runtime/#/)  package.

[2017-11-15 14:56] petmat commented on #1187
Yeah of course @markusguenther , sorry it took me so long!

[2017-11-15 15:00] ursulaklinger opened #3156 "ReactUi: Validator in node creation dialogue"
### Description

We have a node creation dialogue  a single line text and a select box. Both have a notEmptyValidation. It is possible to submit the dialogue by hitting return even though the validator disables the submit button.
Furthermore, the Validator for the selectbox only works if you have touched the selectbox once:
If you never clicked on it, you can submit the form even though the select

[2017-11-15 15:11] markusguenther opened #1270 "User Interface glitches with MultiSelectboxes"
The component MultiSelectBox renders a text field for the search, some icons and an result dropdown for the search. In the ReactUI the leading icon is not in the same line like the other icon.

<img width="322" alt="bildschirmfoto 2017-11-15 um 16 01 27" src="https://user-images.githubusercontent.com/1014126/32843022-f5909ab2-ca1e-11e7-85d2-273fb98ef8b8.png">

The regular icons has a 10 pixel inde

[2017-11-15 15:11] markusguenther commented on #1270
At the moment I don't want to change just the dropdown indention. Don't know the real impact and would discuss it first.

[2017-11-15 15:29] #1243 closed

[2017-11-15 15:30] #1060 closed

[2017-11-15 16:41] markusguenther commented on #1245
Could reproduce this but did not find the right point in the Routes or Routes.Backend.yaml
Tried to find out how the regular neos handles it. But think I need a little hint.

Log out put is something like this:
[code]

[2017-11-15 18:14] samuelhauser opened #1273 "Clear search value on select item"
The search value should be removed, after select an item in the MultiSelect

<img width="302" alt="bildschirmfoto 2017-11-15 um 19 13 02" src="https://user-images.githubusercontent.com/1894064/32852701-108468f2-ca39-11e7-9a59-f2319b02a831.png">

[2017-11-15 18:17] markusguenther commented on #1262
I try that :)

[2017-11-15 18:23] dfeyer opened #1274 "More flexible NodeToolbar configuration"
Currently the configuration of the NodeToolbar is static. More flexibility is required when you compose a page with different document (in this case the add button will ask the user to create a document, but in this case the use does not even know where this document is stored, ...)

I discuss the topic shortly with @grebaldi and I think more configuration option in the `ContentElementWrapping` pr

[2017-11-15 22:58] dfeyer commented on #1274
A first good step, should be to disable the NodeToolbar from the inline editing if the property comes from a Document node type, it just don't make sense.

And make it more configurable in second iteration, when it's a Content type

[2017-11-16 10:08] samuelhauser commented on #1248
@grebaldi unfortunately, I can't reproduce that.

[2017-11-16 10:19] #1187 closed

[2017-11-16 11:22] gerhard-boden opened #1277 "Inspector can not handle type ``array``"
Currently the UI can not handle simple arrays within the inspector:

Old UI:
![array_editor](https://user-images.githubusercontent.com/10533739/32888756-a7d5ed54-cac8-11e7-9eaf-76174e1b2c2c.PNG)

New UI:
![error_array_editor](https://user-images.githubusercontent.com/10533739/32888752-a33e7590-cac8-11e7-8037-06b4162971b0.PNG)

[2017-11-16 11:23] gerhard-boden opened #1278 "Array editor should support adding new values"
It should be (optionally) possible to add new values within the array editor

blocked by: https://github.com/neos/neos-ui/issues/1277

[2017-11-16 11:52] johannessteu opened #1279 "Reset an value in SelectBoxEditor"
Right now there is no way to reset the value set in a select box editor. We had a x-button in our old ui:
<img width="308" alt="bildschirmfoto 2017-11-16 um 12 51 51" src="https://user-images.githubusercontent.com/769789/32889919-091690ce-cacd-11e7-86b5-aed27677870e.png">
<img width="307" alt="bildschirmfoto 2017-11-16 um 12 51 37" src="https://user-images.githubusercontent.com/769789/32889920-093

[2017-11-16 12:08] Inkdpixels opened #1280 "Switch to husky to manage git-hooks and write them in Node"
I think we can simplify stuff a lot regarding the git-hooks right now by using [husky](https://github.com/typicode/husky) to manage / link our git-hooks as well as writing them in plain Node to keep them simpler since most developers don't know bash that good enough to keep them maintained.

[2017-11-16 12:57] gerhard-boden commented on #1277
Edit: @mficzel mentioned that this might be connected to a missing data source in the new UI. But we might need the old behaviour as well, because it was possible to change the order of values within arrays saved within the ``properties`` json

[2017-11-16 13:08] Inkdpixels opened #1281 "Switch to yarn workspaces"
I think we could simplify a lot of stuff if we would switch to yarn workspaces. Basically it offers first-class citizen support for mono-repos in the yarn package manager. While the feature is still marked as experimental I've used it in projects in the past months and found it to be really stable.

Benefits of the switch:
* Lerna does not create intermediate `package.json` files in the root / pac

[2017-11-16 13:18] #953 closed

[2017-11-16 14:05] #1234 closed

[2017-11-16 16:09] samuelhauser commented on #1279
I'll try this

[2017-11-16 16:34] samuelhauser commented on #1273
There is an other related bug. If you search in a searchable selectbox and choose a value, this value is not selected (the searchvalue remains standing)

[2017-11-16 17:46] dimaip opened #1286 "When no options are found in select box, there should be a message saying that"
See old UI

![image](https://user-images.githubusercontent.com/837032/32906826-6ebc4870-cafe-11e7-8a6f-4d6b1a527acd.png)

[2017-11-16 19:15] dimaip commented on #865
We discussed it here at the sprint and suggest to leave it as is for now, i.e. via extensibility, and just provide a good example for it in the docs. Fine with you @skurfuerst?

[2017-11-16 19:16] dimaip commented on #867
@skurfuerst can we close it now since you have this fancy extensibility thing in place?

[2017-11-16 19:26] dimaip commented on #1216
For some reason this can be closed, so closing....

[2017-11-16 19:26] #1216 closed

[2017-11-16 20:28] kitsunet opened #1290 "Adjust routing to make react UI primary UI"
Decide on `legacy` backend route (`/neos-legacy`?)
Switch routes
Test
Adjust loading order

[2017-11-16 21:35] dimaip commented on #1273
Both fixed.

[2017-11-16 21:35] #1273 closed

[2017-11-16 21:57] dimaip commented on #1252
Fixed

[2017-11-16 21:57] #1252 closed

[2017-11-16 22:05] #1267 closed

[2017-11-17 07:41] maya-shines opened #1297 "Font in text input fields is suddenly much smaller"
![tiny-font](https://user-images.githubusercontent.com/6552092/32936064-01c6c356-cb73-11e7-93e4-b05f51464eaa.png)

Bug appears in Chrome, Firefox and Safari

EDIT: Also applies to other things than the text input fields:
![tiny-publish-button](https://user-images.githubusercontent.com/6552092/32937224-d34eebd4-cb77-11e7-96c2-728db56c6f0d.png)

[2017-11-17 09:33] markusguenther opened #1299 "Storybook mess up the styling"
The storybook override some styles like the button styling with browser defaults.
In neos we use normalize for getting rid of such influence.

So it would be nice to have this also in the storybook. Then the components look like in the backend.

As example the selectbox reset button has rounded corners in Chrome.

<img width="178" alt="bildschirmfoto 2017-11-17 um 10 30 49" src="https://user-image

[2017-11-17 09:56] markusguenther opened #1301 "Error in neos backend regarding invalid proptypes"
The EditModePanel component uses the I18n component to setting the title property of the Panel component. But the title should be a string.

[code]

[2017-11-17 10:44] #1154 closed

[2017-11-17 11:15] gerhard-boden opened #1304 "Open media model within asset list"
In the old UI it was possible to pick assets from the media modal. Would be good to have that in the new UI as well

relates: #1296

[2017-11-17 11:17] gerhard-boden opened #1305 "Show preview images within asset list"
In the old UI we had preview images within asset list items. Would be nice to port that to the new UI as well.

relates: #1296

[2017-11-17 11:18] gerhard-boden opened #1306 "Enable file upload for asset list"
In the old UI it was possible to directly upload images into the asset list. Would be nice to have that in the new UI as well.

relates: #1296

[2017-11-17 11:27] gerhard-boden commented on #1279
Is somebody already taking care of that?

[2017-11-17 11:44] daniellienert opened #1309 "Reference selector broken"
In current master the reference selector seems entirely broken:

![image](https://user-images.githubusercontent.com/642226/32945787-1311ad52-cb95-11e7-9fdc-5448aa99af8c.png)

[2017-11-17 11:50] #1301 closed

[2017-11-17 13:51] #1309 closed

[2017-11-17 14:14] dimaip commented on #1305
Would be nice to tell MultiSelect to use the option renderer for showing the selected options. That would solve this issue as well.

[2017-11-17 14:26] kitsunet opened #1312 "Enable creating anchor links"
https://discuss.neos.io/t/reactui-suggestions-for-fill-anchor-for-link-to-same-page/2810

[2017-11-17 14:32] #876 closed

[2017-11-17 14:44] grebaldi commented on #1245
@kitsunet I found a fix for this, so I'd like to take over, if you don't mind

[2017-11-17 14:45] kitsunet commented on #1245
👍 Yep saw it

[2017-11-17 15:02] #1297 closed

[2017-11-17 15:19] #1245 closed

[2017-11-17 16:13] markusguenther commented on #1262
After PluginViewsEditor is merged, just the PluginViewEditor is missing.

So it turns out that three editors are missing and not just two.

[2017-11-17 18:25] gerhard-boden commented on #1304
Already worked on this one today, this is working, but not yet pushed

[2017-11-17 18:25] gerhard-boden commented on #1306
Already worked on this one today, this is almost working, but not yet pushed

[2017-11-18 13:28] gerhard-boden opened #1317 "Asset list does not support identical assets inserted multiple times"
Since the identical keys are used for assets added multiple times, a javascript error occurs

[2017-11-19 21:40] samuelhauser commented on #1279
@gerhard-boden I don't think so

[2017-11-20 08:35] dimaip opened #1319 "SelectBox unneeded separator"
The separator should only be shown when there are both cross and chevron visible:

![image](https://user-images.githubusercontent.com/837032/33009098-fad0960c-cdd5-11e7-9664-0b70d29b87fc.png)

[2017-11-20 09:22] dimaip commented on #1319
And even:
![image](https://user-images.githubusercontent.com/837032/33010967-b42cee4c-cddc-11e7-8558-b0e3f40158a3.png)

[2017-11-20 09:59] maya-shines opened #1320 "DateTime Editor in Creation Dialog throws error"
When I try to use the DateTime editor in my creation dialog, a JavaScript error is thrown.
This code:
[code]
causes this output:
`TypeError: Cannot read property 'replace' of undefined`
![bildschirmfoto 2017-11-20 um 10 57 37](https://user-images.githubusercontent.com/6552092/33012619-cce5aa50-cde1-11e7-9251-e180487ff1ab.png)

[2017-11-20 12:02] dimaip commented on #1320
Related to: #1138

Not for 1.0 obviously.

[2017-11-20 12:51] markusguenther commented on #1319
In the old UI you have the separator on the chevron and the reset button ;)
So it was more or less a regression by me to just add this to the chevron

[2017-11-20 12:53] dimaip commented on #1319
So I guess you can just move it to the reset button and all would be fixed, right?

[2017-11-20 17:45] markusguenther commented on #1319
Try to adjust that ... hopefully soon ;)

[2017-11-20 20:23] markusguenther commented on #1279
Not sure but guess this already fixed it.

https://github.com/neos/neos-ui/pull/1295

[2017-11-20 20:24] markusguenther commented on #1279
The button was always there when the property is set. But was hidden caused it was laying under the chevron.

[2017-11-20 20:45] markusguenther commented on #1279
<img width="321" alt="bildschirmfoto 2017-11-20 um 21 44 25" src="https://user-images.githubusercontent.com/1014126/33040674-1490d1fe-ce3c-11e7-8dd3-7575bd590e88.png">

Fixed in current master

[2017-11-20 21:27] markusguenther commented on #801
Check this tomorrow ;)

[2017-11-21 07:15] #1319 closed

[2017-11-21 08:14] markusguenther opened #1323 "SelectBoxEditor is collapsed at the beginning"
Since the last codesprint the SelectBoxEditor changed the default behavior and is collapsed at the beginning. To make it easier for editors the default should be unfold again.

![ezgif com-video-to-gif-2](https://user-images.githubusercontent.com/1014126/33061423-5c2382a4-ce9c-11e7-834f-c088662bf2aa.gif)

[2017-11-21 10:33] gerhard-boden commented on #1279
fixed https://github.com/neos/neos-ui/pull/1295

[2017-11-21 10:33] #1279 closed

[2017-11-21 13:49] skurfuerst opened #1324 "white "Loading-Overlay-Screen" appears on all navigation actions in Node Tree"
# How to reproduce

- navigate using the Document Tree
- you'll see the website changes directly to white; and only if the full website is loaded, it changes back.
- for big websites, this leads to a bad perceived performance; as the user might already e.g. scroll the website and orient himself on it while it is still loading.
- also it means the website only is visible after all images, banners,

[2017-11-21 14:00] skurfuerst opened #1325 "when switching node types, auto created child nodes are not updated etc"
In the old UI; we did the following:

https://github.com/neos/neos-development-collection/blob/30599d9a88aa537ab867b0a2b7c68690c6cfe00c/Neos.ContentRepository/Classes/TypeConverter/NodeConverter.php#L166-L176

This is still missing in the new UI.

[2017-11-21 14:01] skurfuerst commented on #1324
Appeared together when debugging and checking with @Inchie  at his site.

[2017-11-21 22:21] markusguenther opened #1327 "ToggablePanel storybook uses still panelToggle"
In the past the ToggablePanel prop panelToggle has been renamed to onPanelToggle.

[2017-11-21 23:55] #1323 closed

[2017-11-22 00:02] #1262 closed

[2017-11-22 00:56] #1327 closed

[2017-11-22 01:01] #1304 closed

[2017-11-22 08:53] gerhard-boden opened #1329 "Wrap ``AssetEditor`` component with ``AssetUpload`` component"
see https://github.com/neos/neos-ui/pull/1316#issuecomment-345996718

[2017-11-22 12:38] dimaip opened #1330 "ReferenceOption: gray on blue text ineligible"
![image](https://user-images.githubusercontent.com/837032/33127785-51e8709e-cf8a-11e7-8c6b-10f46f64f689.png)

[2017-11-22 14:06] dimaip opened #1331 "Properties of `type: Neos\Media\Domain\Model\Asset` are not editable"
The AssetEditor currently doesn't handle properties where only one asset is supposed to be uploaded.

[2017-11-22 16:04] samuelhauser opened #1332 "Loading Backend in iFrame"
If you have an error in your page (e.g. missing fusion configuration for a nodetype), the backend is loadet multiple times in the iframe.

[2017-11-22 20:05] markusguenther opened #1336 "Adjust style for loading icon"
Before #1319 the separator was attached to the chevron button and now I know again why I put the separator to the chevron.

For the reset button it is OK to have the separator as after element. But the loading icon uses same base and rotates. Therefore the loading icon has now again also a rotating separator.

<img width="315" alt="bildschirmfoto 2017-11-22 um 20 57 49" src="https://user-images.gi

[2017-11-22 21:08] #1330 closed

[2017-11-23 07:11] #1331 closed

[2017-11-23 07:12] dimaip opened #1337 "AssetEditor: icon and chevron for single asset mode"
- [ ] icon
- [ ] chevron shouldn't be shown when value selected

![image](https://user-images.githubusercontent.com/837032/33138427-c10ee23a-cfaa-11e7-996d-3301083e935a.png)

[2017-11-23 07:25] maya-shines opened #1338 "Subtree-toggle is always "open""
Regardless, of whether a node in the tree is toggled to show subnodes, or not – the toggle-icon doesn't change.
Hidden subnodes (closed folder):
![closed-folder](https://user-images.githubusercontent.com/6552092/33161968-2ca9dca8-d027-11e7-82b6-e8ffc9b338de.png)
Displayed subnodes (opened folder):
![open-folder](https://user-images.githubusercontent.com/6552092/33161969-2d97d66a-d027-11e7-8682-ff0

[2017-11-23 07:29] dimaip commented on #1336
Thanks for spotting it, was about to open the same issue.

[2017-11-23 07:31] dimaip commented on #1338
Can confirm, thanks!

[2017-11-23 07:34] dimaip commented on #1306
Seems like done, kind of.

[2017-11-23 07:34] #1306 closed

[2017-11-23 09:48] maya-shines opened #1339 "Validation error message in inspector isn't translated"
The validation error message displays the translation key, rather than the translation:

![validation-error](https://user-images.githubusercontent.com/6552092/33166752-a0aeb236-d03b-11e7-8bfd-58da748271a3.png)

Also, due to the length of the text, the tooltip is cut off. The whole output is "content.inspector.validators.integerValidator.aValidIntegerNumberIsExpected"

[2017-11-23 12:29] mstruebing commented on #1339
I think this is the case for every inspector validator currently.

[2017-11-23 13:47] dimaip opened #1340 "Publish menu padding messed up"
![image](https://user-images.githubusercontent.com/837032/33175819-32bd7ea2-d05d-11e7-8695-a9693bc703cd.png)

[2017-11-23 14:33] mirkokaufmann opened #1341 "Switch workspaces throws an error"
If you want to switch workspaces the following error occurs:

<img width="138" alt="image" src="https://user-images.githubusercontent.com/2813269/33177434-de1d29aa-d062-11e7-92d4-08f04a42e536.png">

![image](https://user-images.githubusercontent.com/2813269/33177285-5b2e370a-d062-11e7-82e0-a52a50bf3a5a.png)

[2017-11-23 14:34] dimaip commented on #1341
Thanks, can confirm!

[2017-11-24 05:32] h1Modeling opened #1343 "tables and lists don't work with inline editable documentNode property"
**How to reproduce:**

- Create an inline editable property on a documentNode with a Neos.NodeTypes:TextMixin
- Try to add a list or table in the new UI

**Error:**

- No list or table is created
- In the console there is following warning:

Guest.js:1 Command [object Object] not found.
toggleFormat @ Guest.js:1
EditorToolbar.n.onToggleFormat @ Host.js?c89a3ee9:6
(anonymous) @ Host.js?c89a3ee9:6
c

[2017-11-24 14:36] daniellienert opened #1345 "Error when removing a document with child documents"
When I try to remove a document having sub dcoments, I get an error on publish:

![image](https://user-images.githubusercontent.com/642226/33214589-d4642484-d12c-11e7-9dc4-253f4b6f4075.png)

Without log message.

And when I hit publish again, the error changes:
![image](https://user-images.githubusercontent.com/642226/33214609-e8a30f8c-d12c-11e7-9879-19ac412ea690.png)

Stack Trace:

[code]

[2017-11-24 16:24] dimaip commented on #1338
fixed

[2017-11-24 16:24] #1338 closed

[2017-11-24 16:24] dimaip commented on #1341
Fixed

[2017-11-24 16:24] #1341 closed

[2017-11-24 16:26] dimaip commented on #1299
Fixed

[2017-11-24 16:26] #1299 closed

[2017-11-24 16:28] dimaip commented on #1345
I can't reliably reproduce it, even though I did see this error a few times. Can you?

[2017-11-24 19:47] dimaip commented on #1340
Fixed

[2017-11-24 19:47] #1340 closed

[2017-11-24 20:26] #1244 closed

[2017-11-25 07:03] #1339 closed

[2017-11-25 09:53] #1343 closed

[2017-11-27 15:52] soee opened #1351 "Root page type can't be changed"
Hi,

i am trying the new UI and wanted to change page type of my root site to custom type `Vendor.Site:Home` but inside properties inspector the `Type` field that should be a `select` with available options is rendered as a single `div` with class `style__noOptionsAvailable___xxx`.

After switching to old UI the same inspector field was rendered as a select element as it should.

It seems like it

[2017-11-28 07:31] siggj opened #1353 "Filter "All" in asset editor doesn't work"
If i have an asset editor in the inspector, when i select the "All" filter, document doesn't appear.
If i select "Document" filter, document appears.

![image](https://user-images.githubusercontent.com/526370/33307321-5a903a0c-d416-11e7-911b-c9306bfaf06a.png)

![image](https://user-images.githubusercontent.com/526370/33307332-68685ee8-d416-11e7-91db-6bfd3aaf2412.png)

[2017-11-28 13:03] #1336 closed

[2017-11-28 13:07] markusguenther opened #1355 "Add helper for style constants"
The brand constants in the build-essentials using a function called generateCssVarsObject to create the constant object.

The issue #801 and #793 also using this function but provide the function in the own file.
So maybe it would be better to have a helper in the build essentials that contains the function and we only use this helper for it.

[2017-11-28 15:56] grebaldi opened #1358 "BUGFIX: Cannot change nodetype of shortcuts"
I just noticed, that on the demo site, the nodetype for shortcuts cannot be changed. Appearently, for other documents shortcuts do not appear in the list of nodetypes, when you're trying to change it.

#1351 might be related.

[2017-11-28 19:15] markusguenther opened #1359 "Upgrade moment.js to fix insecure dependency"
The dependency listing clarify the used moment.js version as insecure.

<img width="998" alt="bildschirmfoto 2017-11-28 um 20 14 07" src="https://user-images.githubusercontent.com/1014126/33339388-3da60f1c-d479-11e7-848d-dfc824fb4e89.png">
<img width="991" alt="bildschirmfoto 2017-11-28 um 20 14 24" src="https://user-images.githubusercontent.com/1014126/33339389-3dcd4d5c-d479-11e7-93f6-5fe96b54d49

[2017-11-29 04:55] skurfuerst opened #1362 "Improved Select editor"

[2017-11-29 06:45] #793 closed

[2017-11-29 08:57] markusguenther commented on #1355
After we merged the transitions and the zIndexes to one file I am not sure if we still need that. Depends a bit on how much the styleConstants.js is growing. Think when we come to the point that we spit up the constants file, we should use a helper.

Now it is more boilerplate like.

[2017-11-29 09:02] #1351 closed

[2017-11-29 09:04] dimaip commented on #1355
I'd say we should dump all constants into one file for now, no need to over-engineer it at this point.

[2017-11-29 09:19] dimaip commented on #1358
Indeed seems to have been fixed now. Reopen if not.

[2017-11-29 09:19] #1358 closed

[2017-11-29 09:32] maya-shines opened #1363 "Missing translation in Creation Dialog"
Translation key displayed in creation dialog. "Neos.Neos.Ui:Main:insertMode:" instead of "Insert mode:"

![missing-translation](https://user-images.githubusercontent.com/6552092/33367866-418664f2-d4f0-11e7-9f2a-25fe25dfa646.png)

[2017-11-29 10:15] markusguenther commented on #1286
The selectbox component is under refactoring at the moment. So before starting this issue better ask in slack #project-ui-rewrite ...

[2017-11-29 14:18] markusguenther commented on #1363
Hmm in the master it is defined.

[code]

![bildschirmfoto 2017-11-29 um 15 14 19](https://user-images.githubusercontent.com/1014126/33379426-5ffa3b48-d518-11e7-86fe-6d027d447227.png)

If you are on the current master please provide more information where you get the broken dialog

[2017-11-29 18:44] soee opened #1366 "Inline editable property triggers page reload on each change"
Having NodeType (in my case Page) property that is configured to reload page on change and is also inline editable, triggers page reload each time we change it's value while inline editing it. I think page reload should be triggered only if we press button to apply changes,.

[2017-11-29 20:00] dimaip commented on #1248
Can not reproduce it either. Knowing the code it should handle those kind of changes just fine.
Please reopen if you can confirm that the issue is still there.

[2017-11-29 20:01] #1248 closed

[2017-11-29 22:14] markusguenther commented on #1337
![bildschirmfoto 2017-11-29 um 23 13 50](https://user-images.githubusercontent.com/1014126/33401853-08e08982-d55b-11e7-9a24-29177818cb8a.png)

Had the plan to fix that, but can not reproduce it ;)

[2017-11-29 23:10] markusguenther opened #1367 "German umlauts are broken in asset list"
When you create a new asset lists and assign assets with umlauts like ü in the file name, then the listing in the asset editor is fine but in the page the umlauts are broken.

[2017-11-29 23:14] markusguenther opened #1368 "Drag and drop in asset editor does not work in FF and sluggish overall"
The asset editor suggests to reorder the assets by drag and drop, but the dropping does not work.

If this is just not implemented the drag should be disabled atm. Otherwise it seems to be a bug.

[2017-11-30 08:21] markusguenther commented on #1367
![bildschirmfoto 2017-11-29 um 23 16 21](https://user-images.githubusercontent.com/1014126/33420682-c7382968-d5af-11e7-8a9f-0e9908858bd0.png)

Maybe a screen is nice ;)

[2017-11-30 09:01] GerDner commented on #1362
Hi guys, i think i found a bug here.

Basically i have content nodes on a site (articles). Each node has multiple references on node of nodetype 'document' (Tags).  When i focus different articles in the content view, the already assigned references does'nt load correctly in the inspector. The max references shown in the inspector is 1. Sometimes the title is not shown but only a loading text and

[2017-11-30 11:08] dimaip commented on #1368
Works for me. Though it feels a bit sluggish, compared to how it works in the references editor.

[2017-11-30 11:09] dimaip commented on #1367
Are you sure it's related to the new UI?

[2017-11-30 11:22] markusguenther commented on #1367
Ok you are right ... it also broken in the old UI.
Should I move the issue the Neos?

[2017-11-30 11:26] markusguenther commented on #1368
![ezgif com-video-to-gif-3](https://user-images.githubusercontent.com/1014126/33428610-bbde3624-d5c9-11e7-84a6-6a0189c8c956.gif)

[2017-11-30 11:27] markusguenther commented on #1368
And I am on the current master and used yarn build.

[2017-11-30 11:34] kitsunet commented on #1367
I think this was even a problem with this specific asset.

[2017-11-30 11:37] markusguenther commented on #1367
![bildschirmfoto 2017-11-30 um 12 36 45](https://user-images.githubusercontent.com/1014126/33428950-2b1d433a-d5cb-11e7-885b-f6540166adb0.png)

Nope otherwise I also created such a special asset ;)

[2017-11-30 11:38] kitsunet commented on #1367
Then yeah, probaly more of a general neos issue

[2017-11-30 11:40] markusguenther commented on #1367
And if you rename a file and upload the "new" file the flash message has the correct file name but the whole other components uses the "old" one. Seems that you check the image with a hash.

Also in the old UI.

[2017-11-30 11:49] markusguenther commented on #1367
Created an issue in the neos repository.
So I close this because the AssetEditor is not effected.

[2017-11-30 11:49] #1367 closed

[2017-11-30 12:07] dimaip commented on #1368
I think you need to drag a bit higher, above next block. It works badly, but works.

[2017-11-30 12:16] dimaip commented on #1368
![peek 2017-11-30 15-15](https://user-images.githubusercontent.com/837032/33430370-5fae78ba-d5e1-11e7-987d-552e8b02b1c0.gif)

[2017-11-30 12:17] markusguenther commented on #1368
![assetlistneos2](https://user-images.githubusercontent.com/1014126/33430343-813c3b4a-d5d0-11e7-9485-153827941f6d.gif)

Hmm strange ... first gif was cropped obviously :/
I used the latest FF. Will test this later in other browsers.

[2017-11-30 17:32] markusguenther commented on #1355
After having the constants at one place we skip the helper class ;)

[2017-11-30 17:32] #1355 closed

[2017-12-01 08:10] #1107 closed

[2017-12-01 08:15] #801 closed

[2017-12-01 08:21] dimaip commented on #1363
Can't reproduce either, will close for now, feel free to re-open.

[2017-12-01 08:21] #1363 closed

[2017-12-01 08:24] dimaip commented on #892
Blocked by #1362

[2017-12-01 08:25] dimaip commented on #1277
Blocked by #1362

[2017-12-01 08:25] dimaip commented on #1286
Blocked by #1362

[2017-12-01 08:25] dimaip commented on #1305
Blocked by #1362

[2017-12-01 08:25] dimaip commented on #1317
Blocked by #1362

[2017-12-01 08:26] dimaip commented on #1337
Blocked by #1362

[2017-12-01 08:26] dimaip commented on #1337
@markusguenther I was referring to single asset mode, your editor supports uploading multiple assets

[2017-12-01 08:29] #1264 closed

[2017-12-01 08:36] mstruebing opened #1372 "Hard coded URL for media browser"
Remove Hard coded URL

https://github.com/neos/neos-ui/blob/master/packages/neos-ui-editors/src/SecondaryEditors/MediaSelectionScreen/index.js

[2017-12-01 08:46] #1353 closed

[2017-12-01 08:46] #1324 closed

[2017-12-01 09:03] dimaip commented on #1368
I can confirm it to be broken in FF. Also laggy in Chrome.

[2017-12-01 09:08] dimaip commented on #1368
Blocked by #1362

[2017-12-01 09:33] dimaip opened #1373 "z-index regression: flash messages are covered by top bar"
![image](https://user-images.githubusercontent.com/837032/33476659-c7f9cc1e-d693-11e7-85ea-9907b700f9e6.png)

[2017-12-01 12:55] #1373 closed

[2017-12-02 12:53] siggj opened #1376 "LinkEditor doesn't accept external link"
Internal link like node or asset work but external link (http://....) doesn't work anymore ?

[2017-12-02 19:39] tbrodard opened #1377 "Toolbar above nodes not reachable"
After the commit https://github.com/neos/neos-ui/commit/08e11149a332533d4fb37ea98d026c1b282ecd68 the toolbar above nodes isn't reachable anymore: the user has to go in the object inspector below left to add new contents:

![image](https://user-images.githubusercontent.com/1318737/33519117-9127a45a-d7a0-11e7-9af5-ab42205b55d1.png)

[2017-12-03 15:13] mstruebing commented on #1376
I sounds like something related to the the `SelectBox` implementation and is currently reworked completely.

[2017-12-03 15:46] mstruebing commented on #1237
If no one is against it I would do it and propose a concrete setup for this.
Any objections?

[2017-12-03 16:34] kitsunet commented on #1237
I am super opinionated about git hooks, so 👎 from my side. I a) don't want anything touch my code without me seeing it (eg. separate commit that I can check) and b) don't want to run something any time I commit. b) will obviously be a much bigger thing if the ui is added ot the collection at some point.

Also can those rules be configured or is it a "one size fits it all"?

[2017-12-03 16:45] mstruebing commented on #1237
They can be configured a bit but I don't think it's possible to configure every rule.

I see your point regarding touching the code but that would mean we have to run prettier manually every time and this destroys the whole point of it.
In this case we can stick to our current setup I think.

[2017-12-03 17:56] daniellienert opened #1379 "Review changes option in the changes menu is missing"
Old UI:
![image](https://user-images.githubusercontent.com/642226/33528059-8e3fcd74-d85b-11e7-976b-7ad2503e9f93.png)

New UI:
![image](https://user-images.githubusercontent.com/642226/33528067-a16871f8-d85b-11e7-9cb6-38f05841711b.png)

[2017-12-03 22:11] dimaip commented on #1237
In general I'd be in favor of it, but on the other hand I never had problems with linting as long as I had eslint plugin in my editor... So let's close this issue for now, if we are not all comfortable with it.

[2017-12-03 22:11] #1237 closed

[2017-12-03 22:11] #1377 closed

[2017-12-03 22:21] dimaip opened #1382 "Rethink z-indexes"
We've merged a change to refactor usage of z-indexes: https://github.com/neos/neos-ui/pull/1361
However it caused a few regressions, e.g. see the screenshot.
The idea was to group z-indexes by their stacking contexts and stop making up their values arbitrarily.
However the problem is that currently we group z-indexes not always by the stacking contexts, which causes various issues.
So we need to f

[2017-12-03 22:23] dimaip commented on #1382
Maybe @Duske you have an opinion?

[2017-12-04 07:27] daniellienert commented on #363
Hey guys,

according to the documentation, the keywords are: `reloadIfChanged` and `reloadPageIfChanged`, none of both seem to work in the current master. Can someone confirm this?

[2017-12-04 07:35] #1372 closed

[2017-12-04 07:35] #1379 closed

[2017-12-04 13:33] gerhard-boden commented on #1329
done here: https://github.com/neos/neos-ui/pull/1378

[2017-12-04 21:57] Duske commented on #1382
I think introducing new stacking contexts would be most straightforward approach.
Currently I have no time to look into it in more detail 🙁

[2017-12-05 08:19] dimaip opened #1384 "Fix handling of CSS modules in jest tests"
https://github.com/justinsisley/Jest-CSS-Modules

Currently we have warnings like this, which are quite annoying:

![image](https://user-images.githubusercontent.com/837032/33596806-2d843c96-d9ae-11e7-9a27-9d86f01b4787.png)

[2017-12-05 11:25] dimaip commented on #1382
Yep, apparently there's even a dedicated property to do just that: https://developer.mozilla.org/en-US/docs/Web/CSS/isolation
We need to rethink a system that would handle nested z-indexes, essentially it should be a nested object.

E.g. this
[code]
would transform into:

[code]
And of course this structure should resemble actual stacking contexts and don't be arbitrary.

[2017-12-05 15:34] siggj opened #1386 "Crop feature with aspect ratio doesn't work"
Hi guys !
The crop feature with aspect ratio doesn't work in the new ui.
I tried to switch to the old ui and it works.

[2017-12-05 16:16] klfman commented on #1225
Should be a similar rendering problem as https://github.com/neos/neos-ui/issues/1332. Maybe I also had a problem in my code and it wasn't the relogon? Can't say

[2017-12-05 16:16] klfman commented on #1332
See https://github.com/neos/neos-ui/issues/1225 where I reported a similar issue

[2017-12-05 16:20] klfman opened #1387 ""Discard" and "Discard all" should ask for confirmation"
Recently I made a missclick where I hit "Discard" in the publish dropdown in the top right in the neos backend. Because "publish all" and "discard" are just next to each other, discarding should ask the user for confirmation before deleting changes.

[2017-12-05 19:01] dimaip opened #1388 "SelectBox regressions"
- [x] Simple SelectBox option too big
- [ ] Grouping
- [x] Ability to clear SelectBox
- [x] Clear button looks weird in SearchBox
- [x] Horizontal scrolling of SelectBox dropdown
- [x] MultiSelectBox preview element too big, divider not reaching to the bottom
- [x] Can't remove selected elements from MultiSelectBox (x button not working)
- [x] ReferenceOption overflows
- [x] AssetEditor PropType w

[2017-12-06 12:06] bwaidelich opened #1390 "Allow Upload / MediaBrowser buttons to be hidden in Image/Asset editors"
https://github.com/neos/neos-development-collection/pull/1727 introduces the two flags `upload` and `mediaBrowser` that allow to hide the respective buttons in `Image` and `Asset` property editors.
This feature should be migrated to the new UI, too.

And I probably need a little help with this ;)

[2017-12-06 14:40] bwaidelich opened #1391 "FEATURE: Allow modification of uploaded assets based on node"
Another feature that needs "forward porting" to the react based UI: https://github.com/neos/neos-development-collection/pull/1728

(Related to #1390)

[2017-12-07 06:38] mstruebing commented on #1386
Are you sure? Which version of the UI do you use?
If you aren't using the current master, could you please try to test it there?
I can't reproduce it.

[2017-12-07 07:49] siggj commented on #1386
Thanks for the answer.
I use the current master yes.

So, this is my configuration for a property with type Neos\Media\Domain\Model\ImageInterface :

[code]

With the old UI, the radio works :

![image](https://user-images.githubusercontent.com/526370/33703958-b0a9d676-db2a-11e7-934f-b510718528af.png)

But with the new UI, no ratio detected and cannot chose another aspect ratio in the select :

![

[2017-12-07 07:56] mstruebing commented on #1386
Thanks for the quick reply.
I think we need that for the 1.0 release.

[2017-12-07 07:58] mstruebing opened #1394 "ESC on Searchable Selectbox"
Investigate why the first Keypress on `ESC` in a searcharble selectbox got chocked up and you have to press `ESC` again to trigger the close function.

related: #1393

[2017-12-07 09:20] fabiantschoek opened #1396 "Strange behaviour of formatting drop down"
"X" should probably not open and close the formatting drop down.

![dec-07-2017 10-13-58](https://user-images.githubusercontent.com/32840810/33707473-c0c5afb4-db37-11e7-8bea-76eb9897c922.gif)

[2017-12-07 09:29] dimaip commented on #1396
Hey, should be fixed here: https://github.com/neos/neos-ui/pull/1395
My PR got merged too soon yesterday I think.

[2017-12-07 11:20] skurfuerst commented on #1396
THX <3

[2017-12-07 11:25] dimaip commented on #1396
Could you guys test the PR? I think it's all good now, but any time you touch SelectBox it breaks in some unexpected place...

[2017-12-07 11:31] skurfuerst commented on #1396
I will :)

[2017-12-07 11:44] dfeyer commented on #1208
In relation with https://github.com/neos/neos-ui/issues/1390

[2017-12-07 13:54] dfeyer opened #1398 "Loading indicator is not visible when navigating with the document tree"

[2017-12-07 18:43] markusguenther opened #1399 "Add integration test command to the README"

[2017-12-07 18:52] markusguenther opened #1401 "Page tree cuts letters like g"
In Firefox and Safari the menu items are cut off at the bottom when you have a letter like a g.

<img width="319" alt="bildschirmfoto 2017-12-07 um 19 49 45" src="https://user-images.githubusercontent.com/1014126/33732855-117b428e-db88-11e7-87e2-c5718041db19.png">
<img width="321" alt="bildschirmfoto 2017-12-07 um 19 49 34" src="https://user-images.githubusercontent.com/1014126/33732856-11a62800-d

[2017-12-07 19:03] markusguenther opened #1402 "Default Image in Asset List is missing"
In the Neos demo package the example asset list has one image that is missing.
In the old UI that was no problem. In the new UI we can have rendering issues in some browsers.

In the Firefox we get the alt tag rendered which looks broken ;)
In Safari we just get an empty box.

**Safari**
<img width="1806" alt="bildschirmfoto 2017-12-07 um 19 59 21" src="https://user-images.githubusercontent.com/10

[2017-12-07 19:18] dimaip commented on #1396
Should be resolved now

[2017-12-07 19:18] #1396 closed

[2017-12-07 19:18] #1399 closed

[2017-12-07 19:34] markusguenther commented on #1402
After some investigation ... it is when you have asset where you can not create previews or when the file is missing. So no preview for an pdf for instance. So if we have no image type assest we should render render a icon or so.

 Whats you meaning?

[2017-12-07 19:44] markusguenther commented on #1402
This is also a issue in the "old" neos ui.

https://github.com/neos/neos-development-collection/issues/1791

[2017-12-07 19:52] markusguenther opened #1403 "Searchfield in AssetList Editor is broken in Safari"
The Safari 11 does not render the search field like you would expect it.

<img width="318" alt="bildschirmfoto 2017-12-07 um 20 49 55" src="https://user-images.githubusercontent.com/1014126/33735737-796f14da-db90-11e7-9e06-87b92a65ca7b.png">

The old UI has no search here right?

[2017-12-08 07:01] dimaip commented on #1403
I think it's good to leave the search field there.
If it's broken there, it could be broken anywhere, so we need to fix it (shouldn't be hard).

[2017-12-08 07:35] dimaip opened #1406 "Create a better preview for AssetList"
Use much larger images, at least not smaller than it was in the old ui, maybe bigger. Be creative.

[2017-12-08 07:35] dimaip opened #1407 "Storybook of MultiSelectBox is broken, SelectBox stories are outdated"
We could also do it after the release...

[2017-12-08 07:36] dimaip commented on #1388
I've created separate issues for the things unchecked here. Closing.

[2017-12-08 07:36] #1388 closed

[2017-12-08 07:42] dimaip opened #1408 "Various tiny visual regressions"
- [ ] No border
![image](https://user-images.githubusercontent.com/837032/33755931-26740a64-dc04-11e7-9e30-e3521dfea3a0.png)

- [ ] Weird gap
![image](https://user-images.githubusercontent.com/837032/33755963-52888f9e-dc04-11e7-8a7e-5921d0aed66d.png)

- [ ] No separator "stick", looks boring
![image](https://user-images.githubusercontent.com/837032/33755989-67e37b24-dc04-11e7-9cba-f6a7374d6896.png

[2017-12-08 07:49] dimaip commented on #1305
Can be closed now, we have a separate issue for making them bigger.

[2017-12-08 07:49] #1305 closed

[2017-12-08 07:50] dimaip commented on #1337
Fixed

[2017-12-08 07:50] #1337 closed

[2017-12-08 07:50] dimaip commented on #1286
Done

[2017-12-08 07:50] #1286 closed

[2017-12-08 07:51] dimaip commented on #1376
Still relevant. Anyone wants to take care?

[2017-12-08 10:02] fabiantschoek opened #1409 "formatting panel isn't always displayed"
Selecting text with the cursor beyond the displayed text results in a not shown formatting panel

![dec-08-2017 10-55-52](https://user-images.githubusercontent.com/32840810/33760667-b5794ff6-dc06-11e7-86b3-a1f39b38eef1.gif)

[2017-12-08 13:40] dimaip commented on #1409
So it seems the CKE editor is not even focused when you select text this way. Could be hard to fix, not even sure if we should.
Would say we can release 1.0 without fixing this.
@skurfuerst thoughts?

[2017-12-08 13:41] dimaip commented on #1368
Just checked, seems to work now. Could you test @markusguenther and re-open if the issues is still there?

[2017-12-08 13:41] #1368 closed

[2017-12-09 07:32] #1401 closed

[2017-12-09 07:33] dimaip commented on #887
Looks like we'll have to postpone it, removing from 1.0.

[2017-12-09 07:38] dimaip commented on #1317
It works now. There's react warning about duplicate keys, but I guess it's ok for such exotic usecase. I don't think we should spend any more time on this. Feel free to reopen if you feel otherwise.

[2017-12-09 07:38] #1317 closed

[2017-12-09 07:39] dimaip commented on #1398
Should have been fixed.

[2017-12-09 07:39] #1398 closed

[2017-12-09 16:52] mstruebing commented on #1408
Regarind the first point(No border): When I zoom to 110% within chrome I can see the border. In Firefox I can see the border already at 100%.

[2017-12-09 19:33] dimaip commented on #1402
This is still rather an edge-case bug. Why isn't there a preview image? There should always be one, no?

[2017-12-09 19:36] dimaip commented on #1362
Closing this one.

@GerDner could you please test this with the new SelectBox editor and if not create a separate issue?

[2017-12-09 19:36] #1362 closed

[2017-12-09 19:38] dimaip commented on #802
I think we could release 1.0 without this if no one is up for finishing it for the release.
@dfeyer suggest to use native tooltips instead of custom ones for the sake of performance and having less glitches. I tend to agree with him.
Thoughts?

[2017-12-09 21:01] dimaip opened #1415 "When navigating SelectBox via keyboard up&down keys, it does not scroll"
Steps to reproduce:
open references editor, type a few strokes to get a lot of results, move down with arrow down key and wait before you reach the button. Notice that it doesn't scroll.

[2017-12-09 22:56] #892 closed

[2017-12-09 23:08] #1406 closed

[2017-12-10 07:41] johannessteu commented on #802
Actually i think this is a must have for 1.0 as it is important to (new) user do explain and declare things. For instance Inspector tabs etc. We also use it for validation result rendering. And i'm not sure if native tooltips dies work for the validation result rendering. But we would need a solution for that anyway. I mean the Feature *is* finished. Since quite a time. We just need someone to pus

[2017-12-11 05:45] mstruebing opened #1416 "Move constants into one single place"
Currently our constants are all over the place.

Some are in the `neos-ui-constants` package, some are in some post-css-config-file and others are coming from an external source (brandcolors), this is currently unmaintainable and unintuitive.

They should get merged into one single place to easier get found and used.

[2017-12-11 06:10] dimaip commented on #1416
💯

[2017-12-11 07:33] #1408 closed

[2017-12-11 07:42] dimaip commented on #802
@johannessteu validation is a different case. I think for everything else we could use native tooltips.
Anyways, I'll rebase and merge as is for now, then somebody (@dfeyer?) could maybe switch to native tooltips in some places.

[2017-12-11 08:05] markusguenther commented on #1416
The brandcolors are just a dependency of the build essentials package. But it would be easier to understand when you have just one place and don't need to debug it to know all keys of the object.

[2017-12-11 09:38] dimaip commented on #1416
The problem with keeping all color constants in an external, independently versioned package is that it becomes really hard to add/adjust new colors.
I think it's fine to drop that dependency and just define it in-place, alongside other constants.
If our brand color ever changes, I would be the one responsible to update it :laughing:

[2017-12-11 13:19] daniellienert opened #1417 "Translations for "Enter 2 characters .. " in selctobox missing"
Seems that the translations for the Selectbox hint got lost with the latest refactoring.

![image](https://user-images.githubusercontent.com/642226/33832961-41bb894c-de7e-11e7-9a51-4f2866f623cc.png)

[2017-12-11 13:23] dimaip commented on #1417
What language is that?
In English it is translated. But not in any other language, as it is a new label.
In the old UI it wasn't localized at all.

[2017-12-11 13:23] #1417 closed

[2017-12-11 19:59] #1209 closed

[2017-12-11 20:34] kitsunet commented on #1391
https://github.com/neos/neos-ui/pull/1241 merged, so this is done.

[2017-12-11 20:34] #1391 closed

[2017-12-11 20:42] kitsunet commented on #1290
From @skurfuerst in Slack:

FYI: over the weekend some ideas regarding how to "make the switch" from the old Ember UI to the new React UI. Before, it was still somewhat vague for me, but now that I had some time to think it through, I think I came up with a good and easy to   implement solution.

I propose the following:

1) The Neos React UI should add routes for /neos and /neos!. We furthermore

[2017-12-12 07:44] markusguenther opened #1420 "Extend documentation for end 2 end testing"
When you have no chrome you get the following error.
So we should add this requirement to the docs.

[code]

[2017-12-12 07:54] markusguenther commented on #1420
Hehe @mstruebing was fast with tagging but already added that ;)
Just needed to create the issue first.

[2017-12-12 08:18] dimaip opened #1422 "Provide fallbacks for all I18n labels and make sure I18n looks good"
- move all of the I18n labels to the main Neos.Neos package, so they could be managed from one place
- add fallbacks for all labels

[2017-12-12 12:29] kitsunet commented on #1290
And forgot to tag the issue in hte PR: https://github.com/neos/neos-ui/pull/1423

[2017-12-12 21:21] dimaip commented on #802
Native tooltips are merged. I'll add another issue for improved tooltips for validation.

[2017-12-12 21:21] #802 closed

[2017-12-12 21:23] dimaip opened #1426 "Tooltips for validation and help messages have messed-up z-index"
This PR added a better tooltip component: https://github.com/neos/neos-ui/pull/997

While we don't want to use it for all the tooltips (for performance and other reasons), it makes sense to extract the updated tooltip component from there and use it for validation and help messages.

[2017-12-13 05:45] #1386 closed

[2017-12-13 05:59] dimaip commented on #1208
So this is a duplicate of #1390 basically? Will leave that one open.
Re-open if I'm wrong.

[2017-12-13 05:59] #1208 closed

[2017-12-13 06:00] mstruebing opened #1429 "No padding and not readable description in ListPreviewElement"
![selectbox](https://user-images.githubusercontent.com/12071529/33923780-562a38d2-dfd3-11e7-8b57-5581945c4525.png)

[2017-12-13 06:07] dimaip commented on #1429
My fault, will fix

[2017-12-13 06:15] dimaip commented on #1429
Hmm but I can't reproduce it:

![image](https://user-images.githubusercontent.com/837032/33924216-1638cbf4-dfe6-11e7-813c-aa09d9b9f266.png)

[2017-12-13 06:21] mstruebing commented on #1429
I've tested it again after rebuilding and it happens to me on chromium, chrome and firefox
I will test it at work later in case it's something with my setup

[2017-12-13 06:34] #1403 closed

[2017-12-13 07:00] dimaip commented on #1429
Is that a references editor? Are you sure you are on latest master?

[2017-12-13 07:01] dimaip commented on #1429
As wait, I link editor I have that problem too. Thank! Will fix.

[2017-12-13 08:00] dimaip opened #1430 "Single Asset upload editor needs some love"
E.g. it should use custom ListPreviewElement: https://github.com/neos/neos-ui/blob/665c37f050882a6ce92902c68aa7da831eba7ddf/packages/react-ui-components/src/SelectBox_Header/selectBox_Header.js#L61

Currently it looks awful:

![image](https://user-images.githubusercontent.com/837032/33927878-d9efb8d8-dff4-11e7-887f-3969943989f7.png)

[2017-12-13 08:05] dimaip opened #1431 "In reference editor it's not obvious how to remove a selected item"
Would be nice to show a cross next to it or smth. Would need to check with other SelectBox-derived components.

![image](https://user-images.githubusercontent.com/837032/33928030-694341b2-dff5-11e7-81b0-403ab3221b22.png)

[2017-12-13 08:20] dimaip commented on #1390
Done

[2017-12-13 08:20] #1390 closed

[2017-12-13 09:09] dimaip opened #1432 "CreateNew does not show loading indicator while creating a new node"

[2017-12-13 12:04] dimaip opened #1434 "Inspector views' sort order not respected"
When inspector views have no position property, I'd expect them to be sorted according to source code order, but they are not...

[2017-12-13 12:39] dimaip opened #1435 "Even if AssetEditor is not configured to multiple, it still allows to choose multiple images, but only one will be used"

[2017-12-13 14:25] darmstaedter opened #1437 "Double click on link opens ckeditor link window"
<img width="797" alt="bildschirmfoto 2017-12-13 um 15 24 31" src="https://user-images.githubusercontent.com/873002/33943553-c64181ca-e019-11e7-8c9b-3f16098107db.png">

[2017-12-13 20:14] dimaip commented on #1434
Brr now it is... nevermind, smth wrong with me I guess

[2017-12-13 21:55] gerhard-boden opened #1438 "When assets are too big an exception is thrown on upload"
Stacktrace
[code]

[2017-12-13 21:56] gerhard-boden opened #1439 "Control Buttons are too close together because of reset styling"
![image](https://user-images.githubusercontent.com/10533739/33963877-e1f90f36-e056-11e7-9103-e38d9cd39d6f.png)

[2017-12-14 09:54] #1434 closed

[2017-12-14 14:06] klfman opened #1441 "Aloha format options disappear upon text selection (inline editing)"
By configuring an inline editable text property with:
[code]

I enabled two buttons for the editor to change the appearance of the text. This works like a charm.

However: If I select the whole text from the right to the left up to the leftmost border of the inline editable field, the formating buttons disappear. Any other way of selecting the text works (e.g. parts of it, double clicking, cmd or

[2017-12-14 14:17] klfman opened #1442 "Translation for font styling options (aloha) missing"
I'm working with the German translation of the neos backend. The translations of the font styling options (aloha) seem to be still missing. See here:

![screen shot 2017-12-14 at 15 11 26](https://user-images.githubusercontent.com/9661367/33996377-521e67d6-e0e1-11e7-9e2a-f5afb9e5a4e5.png)

"B" (Bold) should be "F" (Fett), "I" (Italic) should be "K" (Kursiv) and so on

[2017-12-14 14:36] klfman opened #1443 "Inline editable text shows "undefined" when empty"
When I delete the contents of an inline editable text property it simply shows "undefined". This is a very technical word for editors.

Ideas:
* show a not so technical sounding empty-string-placeholder
* create another attribute to be used in NodeType definitions alongside defaultValue, type, ui and validation that defines the empty-placeholder

[2017-12-15 06:37] dimaip commented on #1443
Thanks, fixed.
Are you aware of `aloha.placeholder` config? I think it does just what you ask for.

[2017-12-15 06:38] dimaip commented on #1442
Duplicate of #1422

[2017-12-15 06:38] #1442 closed

[2017-12-15 06:40] dimaip commented on #1441
Duplicate of #1409

[2017-12-15 06:40] #1441 closed

[2017-12-15 06:40] dimaip commented on #1409
@skurfuerst ping

[2017-12-15 07:26] #1443 closed

[2017-12-15 07:30] #1431 closed

[2017-12-15 08:19] dimaip commented on #1376
Should have been fixed by now. Reopen if not.

[2017-12-15 08:19] #1376 closed

[2017-12-15 08:37] #1420 closed

[2017-12-15 09:10] #1290 closed

[2017-12-15 09:11] #1429 closed

[2017-12-15 10:05] daniellienert opened #1449 "Selecting a Selectbox option triggers underlying element"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/642226/34037115-d6813caa-e187-11e7-8276-8b65327171fe.gif)

[2017-12-15 15:50] #1435 closed

[2017-12-15 15:51] #1416 closed

[2017-12-15 19:00] dimaip commented on #1402
Actually I'd just close this. If there's broken link to an asset preview than something is broken with your system, and I don't think we should try to mask it.
If I'm wrong and there can be legitimate reasons for asset preview url to be missing, please re-open.

[2017-12-15 19:00] #1402 closed

[2017-12-15 21:34] dimaip commented on #1422
For some obscure reason all labels in i18n registry are automatically fallen back to English if no national translation is available...

[2017-12-15 22:08] #1430 closed

[2017-12-15 22:08] #1432 closed

[2017-12-17 20:25] kitsunet commented on #1422
I think this is new in Flow to fallback

[2017-12-18 14:01] soee opened #1458 "White square in FF 57 where styled scrollbars join"
Hi,

using Firefox 57 on Linux the new UI renders white square in the right lower corner of an element that is using styled scrollbars.

Left panel example:

![screenshot_20171218_143538](https://user-images.githubusercontent.com/1798417/34109529-288ab192-e404-11e7-88ba-eb06ec6766ee.png)

Dimensions module

![screenshot_20171218_150120](https://user-images.githubusercontent.com/1798417/34109582-57

[2017-12-18 14:07] soee opened #1459 "Make the initial screen Loading label translatable"
It would be great if the initial screen/overlay layer with `Loading` text could be tranlsatable.

[2017-12-18 15:26] #1325 closed

[2017-12-18 18:48] #1439 closed

[2017-12-18 21:57] skurfuerst commented on #1422
OK, so we do not need to do anything, do we @dimaip @kitsunet ?

[2017-12-18 21:58] skurfuerst commented on #1366
confirmed, quite annoying ;)

[2017-12-19 09:01] dimaip commented on #1422
@skurfuerst no, but I'd still move all labels to Neos.Neos. The question is to what version: 3.3 or 3.0 and upmerge?

[2017-12-19 11:16] mstruebing commented on #1345
I can't reproduce it either.
I close this for now, if this issue still occurs feel free to open again.

[2017-12-19 11:16] #1345 closed

[2017-12-19 13:26] mstruebing commented on #1225
Can't reproduce either. Closing this for now. Feel free to open again if the same issue occurs for you.

[2017-12-19 13:26] #1225 closed

[2017-12-19 13:36] mstruebing commented on #1332
Can't reproduce but I remember this error.
Anyone else?

[2017-12-19 17:26] dimaip opened #1461 "Url parameters are not retained in the new UI"
It's not possible to navigate any urls that have parameters in the new UI (e.g. pagination) as the only thing that is transferred is the node context path.

This is a pretty serious issue for editors when they want to navigate e.g. news archives.

[2017-12-19 17:54] dimaip opened #1462 "Collapse state of ContentTree is no longer persisted"

[2017-12-19 22:12] skurfuerst commented on #1462
I think I know why this breaks, will fix tomorrow!

[2017-12-20 07:48] kdambekalns opened #1463 "Pressing enter does not submit changes in inspector"
1. Go to a document
2. In the inspector change the title (or some other input)
3. Press enter

Expected: the changes are saved, like in the old UI

Actual: Nothing happens. I need to use the mouse to click "Apply"

[2017-12-20 08:10] kdambekalns commented on #1387
Coming from the "old" UI this will be missed, and it's just to easy to mis-click and hose a days' work. Or more.

[2017-12-20 09:06] klfman commented on #1225
This doesn't happen to me anymore. I suspect that I misinterpreted this one for https://github.com/neos/neos-ui/issues/1332

[2017-12-20 09:38] dimaip opened #1464 "When switching workspaces page tree is not refreshed"
Also if the given page doesn't exist in the other workspace, you'll end up on 404 page.

[2017-12-20 09:44] dimaip opened #1465 "Keyboard support for LinkEditor"
When using CKE LinkEditor, Enter key should close the dialog.

[2017-12-20 11:25] soee commented on #1463
Maybe with this issue also ENTER key can be handled in ckeditor when editing link field. Atm. if we enter link and press enter it does nothing.

[2017-12-20 11:47] skurfuerst commented on #1461
I do not really understand this one yet...

[2017-12-20 12:37] mstruebing commented on #1463
ENTER pressing in CK-linkeditor is an own issue: https://github.com/neos/neos-ui/issues/1465

[2017-12-20 13:05] mstruebing commented on #1422
As we agreed to be 3.3. compatible I would think 3.3 it is?

[2017-12-20 13:08] mstruebing commented on #697
This fixed now, isn't it?

[2017-12-20 13:35] bwaidelich opened #1469 "Document `creationDialog` feature"
Since the react UI is officially released with Neos 3.3 LTS I wanted to try out the new `creationDialog` feature:

[code]

Somehow that doesn't work (wizard is displayed but the property values are ignored) and I can't find any documentation for this feature.
Besides it is missing from the `NodeTypes` schema, so that the above leads to a warning in the configuration module:
[code]

[2017-12-20 19:29] dimaip commented on #1469
Hey @bwaidelich! The data submitted in the creation dialog doesn't do anything on its own.
You need to register a handler that would take care of the data. I suggest you try out the NodeTemplates package, it might help you to do what you want declaratively or register own handler:
https://github.com/Flowpack/Flowpack.NodeTemplates/blob/master/Configuration/NodeTypes.yaml#L5

As for documentation a

[2017-12-21 11:09] danielkestler opened #1470 "Text and icons not aligned in main navigation"
When content module is active, text and icons in the main navigation are not aligned correctly.

![Screenshot unaligned text and icons](https://user-images.githubusercontent.com/3976405/34253424-bf55fb64-e647-11e7-8e82-e3705fd81099.png)

[2017-12-21 11:11] danielkestler opened #1471 "Missing hover states"
A lot of hover states are missing, especially on buttons like "Apply" or "Publish". Maybe even more hover states should be introduced to enhance usability, e.g. on dropdowns, input fields or in the page tree.

[2017-12-21 11:12] danielkestler opened #1472 "Language label in node creation dialog missing"
![bildschirmfoto 2017-12-21 um 12 10 02](https://user-images.githubusercontent.com/3976405/34253515-3cb3c14a-e648-11e7-88cd-fb5db69d8ddd.png)

[2017-12-21 11:14] danielkestler opened #1473 "Empty select box offset in editor toolbar"
If the paragraph style dropdown is empty, it is offset.

![bildschirmfoto 2017-12-21 um 12 13 05](https://user-images.githubusercontent.com/3976405/34253558-6d73c578-e648-11e7-8cab-d4c0b541e4cd.png)

[2017-12-21 11:21] danielkestler opened #1474 "Different fonts / mix of fonts in UI"
As I understand, only the Content Module is rewritten in ReactJS, right? There seems to be different fonts in use (I know we talked about that topic before on Slack, and definitely, there have been adjustments and improvements regarding font rendering, but I think it is still not the right font in the new UI).

Look for the "g" letters.

Menu in Content Module:
![bildschirmfoto 2017-12-21 um 12 20

[2017-12-21 11:24] mstruebing commented on #1471
It's not missing as the old UI doesn't have this too.

But I agree that would be enhance the UX

[2017-12-21 12:22] mstruebing commented on #1472
I can't reproduce it, either on dev-distribution nor on base-distribution, anyone else?

[2017-12-21 12:35] mstruebing commented on #1474
We are using Open Sans now, in the old UI Noto Sans was used.
I'm not entirely sure why we switched but I remember that there were some disscussion about that.

[2017-12-21 13:00] mstruebing opened #1476 "selectbox multiline with thumbnail active state description wrong color"
Hover state is correct, but when navigating via keyboard or hover over them and move the cursor somewhere else this state gets in place (second line should also be white):

![screenshot_2017-12-21_13-58-52](https://user-images.githubusercontent.com/12071529/34256790-415bae56-e657-11e7-8c14-a25cad37fec9.png)

[2017-12-21 14:34] skurfuerst opened #1478 "Include Release-Version in built files"
It would be cool if at a single place in the UI (e.g in the Main menu at the very bottom in grey), we would list which version of the neos-ui package people are using; to get better bug reports in the upcoming weeks.

[2017-12-21 14:35] danielkestler commented on #1474
I think Noto Sans has a better readability.
But no matter the font: it should be identical throughout the UI.

[2017-12-21 14:41] danielkestler commented on #1474
It is not only the fonts, the UI is not consistent between the different (old and new) modules. Look at the arrow:

![bildschirmfoto 2017-12-21 um 15 40 27](https://user-images.githubusercontent.com/3976405/34260203-5d18f8fc-e665-11e7-87e3-598b8976a7a6.png)
![bildschirmfoto 2017-12-21 um 15 40 17](https://user-images.githubusercontent.com/3976405/34260204-5d2f4f8a-e665-11e7-93e9-e7031903a55d.png)

[2017-12-21 15:17] dfeyer opened #1479 "Loading indicator must be visible when switch Preview/Editing mode"
Currently the loading indicator is not visible when you switch the mode

[2017-12-21 15:18] dfeyer opened #1480 "Preview Central break is there is only one mode"
We should simple hide the Preview Central if only one mode is available.

[2017-12-21 15:20] dfeyer commented on #1474
@danielkestler Media module is not powered by react ... currently

Aggre the we need to choose a new font ;) But please don't switch now, need some UX consideration.

[2017-12-21 15:26] samuelhauser opened #1481 "Inline NodeToolbar on inline Editable fields on document nodes"
If you have an inline editable field on a document node, the NodeToolbar shows up (it shouldn't be)

[2017-12-21 15:36] Benjamin-K opened #1483 "Page goes blank when entering text into property field with custom Regex validator"
We added a custom validator to a property that is used for custom id output.

![bildschirmfoto 2017-12-21 um 16 26 12](https://user-images.githubusercontent.com/3098031/34262559-06fd2a62-e66d-11e7-9a50-cff3ecdc89d1.png)

The NodeType-Configuration looks like this:

[code]

Whenever something is typed into the field in the backend, the whole page gets blank white. The developer console shows some e

[2017-12-21 15:38] danielkestler commented on #1474
My two cents: the new UI should not have switched the font from the start. Now we have an inconsistent UI for our users. So the easiest way would be to just go back to the look that all users know and is present in all other modules.

[2017-12-21 16:19] mad99 opened #1484 "Focus on link in Backend of type «ID on the same page» (#myId) turns screen into white"
### Problem
If I click (focus) on an Link on the same page, created with old editor, the screen get's white and in chrome-console there is an error: https://gist.github.com/anonymous/50e15cdd08c7f095a5a9a489c23de1f3

### Detail
Type of Link > only an ID like : #myTargetLinkOnSamePageToJumpWithJsTo

Reload the browser is during a looong time afterwards.

### System
neos/neos 3.3.1
neos/neos-ui 1.0.

[2017-12-21 16:21] mad99 opened #1485 "Missing the handle of LinkEditor to create an anchor link on same page"
### Problem
If I double-click on a new created Link there appears a popUp with Link-Editor with Title «Link».
within section Lin-Type there is a dropDown with
- URL (url)
- Anker in dieser Seite (anchor on this page)
- E-Mail (email)

Choose «Select the Anker in dieser Seite», there is an information about «(Keine Anker im Dokument vorhanden)» > «no anchor in document»

But There is no button or s

[2017-12-21 16:35] mad99 commented on #1485
### Problem
If I double-click on a new created Link there appears a popUp with Link-Editor with Title «Link».
within section Lin-Type there is a dropDown with
URL  (url)
Anker in dieser Seite (anchor on this page)
E-Mail (email)

Select the Anker in dieser Seite there is an information about «(Keine Anker im Dokument vorhanden)» > «no anchor in document»

But There is no button or some other solut

[2017-12-21 19:15] dimaip commented on #1484
The error is happening in the endpoint resolver, here's an unminified error:

![image](https://user-images.githubusercontent.com/837032/34271210-6229b4a8-e69c-11e7-8390-3a5d2f9c1497.png)

[2017-12-21 19:16] dimaip commented on #1484
I think the initial way to support anchor links would be to just add search strings starting with `#` to be treated the same way as links starting with `http` or `tel:`

[2017-12-21 19:17] dimaip commented on #1485
See https://github.com/neos/neos-ui/issues/1484#issuecomment-353434346

[2017-12-21 21:58] #1476 closed

[2017-12-21 21:58] #1470 closed

[2017-12-21 22:00] skurfuerst commented on #1484
@dimaip ack, I had the same idea :) and furthermore we should understand the error above and make the code around there more robust.

[2017-12-21 22:01] skurfuerst commented on #687
I'm closing this meta-issue, as 1.0.0 is released!

[2017-12-21 22:01] #687 closed

[2017-12-21 22:01] skurfuerst commented on #966
I'm closing this ticket now, as we have concluded the biggest part of the funded React rewrite. Thanks everybody :)

[2017-12-21 22:01] #966 closed

[2017-12-21 22:02] skurfuerst commented on #1012
I'm closing this ticket now, as we have concluded the biggest part of the funded React rewrite. Thanks everybody :)

[2017-12-21 22:02] #1012 closed

[2017-12-21 22:04] skurfuerst commented on #1483
Hey,

thanks for your detailed bug report! That's something we will fix very soon, as I think it is critical!

All the best,
Sebastian

[2017-12-21 22:05] skurfuerst commented on #1481
Hey,

Thanks for your report!
@samuelhauser could you please provide more detail on how to reproduce the issue? maybe with screenshots etc?

Thanks ❤️
Sebastian

[2017-12-21 22:06] skurfuerst commented on #1480
@dfeyer is it broken when there is only one mode? Can you provide a screenshot? :)

[2017-12-21 22:09] skurfuerst commented on #1422
hm, good question... I tend to have them starting in 3.0; as it just maximizes compatibility for users during the transitional period

[2017-12-21 22:10] skurfuerst commented on #1409
Hey,

I also think we cannot fix it currently properly. Let's see how many others have this issue.

Sorry @fabiantschoek  - thank you so much for the detailed bug report; unfortunately it's just very hard to fix!

Allt he best,
Sebastian

[2017-12-21 22:10] #1409 closed

[2017-12-21 22:11] skurfuerst commented on #1387
Ack, would be really useful! Let's try to plan this for the next milestone release.

[2017-12-21 22:11] skurfuerst commented on #1366
That's something which would be nice to fix. Happens e.g. on neos.io when changing a blog post title inline.

[2017-12-21 22:12] skurfuerst commented on #1332
Hey @samuelhauser,
we believe this is fixed with the stable 1.0.0 release together with Neos 3.3.

Please re-open as soon as the error appears again.
Thanks <3
Sebastian

[2017-12-21 22:12] #1332 closed

[2017-12-21 22:13] #1329 closed

[2017-12-21 22:14] skurfuerst commented on #1270
@markusguenther we completely re-wrote the SelectBox and MultiSelectBox - could you please re-check the status in 1.0.0 and re-create/re-open the ticket if needed? That would be awesome :)

[2017-12-21 22:14] #1270 closed

[2017-12-21 22:15] skurfuerst commented on #1250
I personally disagree on this one... However let's please discuss this in person / via a hangout :) :)

[2017-12-21 22:16] skurfuerst commented on #1201
Hey, this issue would need to be revisited in the 1.0.0 / 3.3 release. It might be fixed already. Could you please re-try? :-)

[2017-12-21 22:17] skurfuerst commented on #1136
closing for now

[2017-12-21 22:17] #1136 closed

[2017-12-21 22:17] skurfuerst commented on #1113
Closing, as the React Rewrite project is basically over. Thanks <3

[2017-12-21 22:17] #1113 closed

[2017-12-21 22:18] skurfuerst commented on #958
Closing because of missing feedback. Please re-open if you want to add new insights :)

[2017-12-21 22:18] #958 closed

[2017-12-21 22:20] skurfuerst commented on #647
fixed for now.

[2017-12-21 22:20] #647 closed

[2017-12-21 22:26] skurfuerst commented on #1277
@dimaip @gerhard-boden could you re-test plz? :)

[2017-12-22 07:17] dimaip opened #1486 "When selecting new value in References editor, the searchTerm should be cleared"

[2017-12-22 07:31] dimaip commented on #1472
It may only happen on 3.2 or earlier. As we don't support those versions with the new UI, closing.

[2017-12-22 07:35] dimaip commented on #1474
I agree, I think we should revert the new UI font to NotoSans, before the UX guys decide on a new font.
Regarding arrows, I could live with that inconsistency.

[2017-12-22 07:53] dimaip commented on #1250
Could @Inkdpixels provide more info and also @skurfuerst what do you disagree on exactly?

When PureComponents is bad?
If you pass an object as a prop (which we do quite often), it would always fail the strict equality check of shouldComponentUpdate of PureComponent, so it would first waste time on comparing props which would always result in the need of re-rendering a component. So if we just ski

[2017-12-22 07:55] dimaip commented on #1277
Let's ask @gerhard-boden, since I don't have that kind of data in DB.

[2017-12-22 08:36] bwaidelich commented on #1469
@dimaip thank you!

[2017-12-22 10:55] Inkdpixels commented on #1250
@dimaip is right, the point I was trying to make is, that currently most of the code relies on PureComponent and therefore additional computation happening on each re-render while we don't even know if we need it.

This basically results in a optimization before we even knew if we had a problem and in fact this leads to slower applications most of the time.

[2017-12-22 11:03] samuelhauser commented on #1332
Hey @skurfuerst ,
Yesterday I had the same error again (release 1.0.3). I can't tell you exactly what I was doing. Could not reproduce the error, but it doesn't seem to be fixed yet.

[2017-12-22 11:04] samuelhauser commented on #1332
PS: It was not the same behaviour as #1225

[2017-12-22 11:16] samuelhauser commented on #1481
Hey @skurfuerst

If you have a property on a documentNode as inline editable field, the toolbar appears, but it shouldn't

![documentnode](https://user-images.githubusercontent.com/1894064/34296243-fc4040fa-e711-11e7-8622-79dd5e81c4e7.png)

[2017-12-22 14:33] jonnitto opened #1487 "TextAreaEditor doesn't display validation errors"
If a property has a validation in the `yaml` file configured, the error message will not show up in the new UI. Like that the editors will have no clue, why they can't apply changes.

### Old UI:
<img width="322" alt="screenshot 2017-12-22 15 30 12" src="https://user-images.githubusercontent.com/4510166/34301479-0aac28b4-e72d-11e7-810e-7b0d0c175630.png">

### New UI
<img width="308" alt="screensho

[2017-12-22 14:50] dimaip commented on #1487
Can't verify. Could you provide a sample .yaml file?

[2017-12-22 14:51] dimaip commented on #1487
What I tested:

![image](https://user-images.githubusercontent.com/837032/34302145-b8dd2ce0-e740-11e7-8c4a-e6a7d80b943c.png)

[2017-12-22 14:53] #1043 closed

[2017-12-22 14:59] dimaip opened #1488 "DISCUSSION: major work areas"
Major areas of work, in no particular order. For most of this there exist issues, but I haven't linked them yet.

- Structured editing; inline validation; guided input
- Inline Drag-n-Drop
- Migrate to CKE5 once it's released
- GraphQL API
- Refactor CSS and move to Glamorous/Styled components?
- Improve test coverage on all levels: E2E, integrational, unit. I propose to start with carefully testi

[2017-12-22 15:10] jonnitto commented on #1487
For example:
[code]

In the urlPathSegement field it works, but on custom fields not

[2017-12-22 15:13] jonnitto commented on #1382
Also a topic if you have a tooltip with a following select box
<img width="298" alt="screenshot 2017-12-22 16 11 40" src="https://user-images.githubusercontent.com/4510166/34302837-f9475fb6-e732-11e7-984d-c65b74a5f947.png">

[2017-12-22 15:23] johannessteu commented on #1382
Those should be rendered inline/relative. At least i had it in my tooltip change. NOt sure what way @dimaip re-implemented those as the PR was closed. But in general those should fit in between and don't overlay the next property wich might has an validation error as well

[2017-12-22 15:27] dimaip commented on #1487
Ha, thanks for providing the full config, the problem is with `TextAreaEditor`, it doesn't show errors. We should test all other editors as well.

[2017-12-22 15:32] dimaip commented on #1426
Minimal thing that should be done is to fix the z-index of tooltips:

![image](https://user-images.githubusercontent.com/837032/34303445-6d094d7a-e746-11e7-8941-e34f58db8771.png)

[2017-12-22 15:34] dimaip commented on #1382
See https://github.com/neos/neos-ui/issues/1426

[2017-12-22 16:26] dimaip opened #1489 "AssetList reverses order of files selected"
We should change the order of iteration in AssetUpload `uploadMultipleFiles`

[2017-12-23 06:44] skurfuerst commented on #1483
Confirmed, investigating.

[2017-12-23 13:41] #1484 closed

[2017-12-23 13:42] #1483 closed

[2017-12-23 13:44] #1462 closed

[2017-12-23 13:50] #1415 closed

[2017-12-23 21:09] #1478 closed

[2017-12-25 15:45] dimaip opened #1494 "Order of nodetypes in the creation dialog is messed up in Firefox"

[2017-12-25 20:25] #1489 closed

[2017-12-27 09:01] hhoechtl opened #1495 "PluginView Editor not working"
Neos-UI compiled: 1.0.3
Neos: 3.3.2

I have 2 plugins:
[code]

[code]

When I try to place the pluginview in the new UI, I get the following error:

![image](https://user-images.githubusercontent.com/5076356/34376500-490960a0-eaec-11e7-90ee-9f157d3dc3e3.png)

Stack-trace:
[code]

The XMLHttpRequest `/neos/content/master-plugins` returned:
[code]

[2017-12-27 09:08] johannessteu opened #1496 "ReferenceEditor does not respect a `startingPoint`"
Given this configuration:
[code]

The startingPoint is not respected. Therefore the ReferenceEditor won't find any results

[2017-12-27 09:29] hhoechtl opened #1497 "Rendering plugin causes collection behavior"
Neos: 3.3.2
Neos-UI: 1.0.3 compiled

Page rendering
[code]

Template
[code]

Plugin:
[code]

![image](https://user-images.githubusercontent.com/5076356/34377273-8e978314-eaf0-11e7-845b-bd30e2e75761.png)

There should be no context menu. The add button opens the addDocument dialog in the context of the current page:

![image](https://user-images.githubusercontent.com/5076356/34377313-c3d33c3a-eaf0-

[2017-12-27 13:39] #1496 closed

[2017-12-27 14:26] johannessteu opened #1500 "Disabled/Timed DocumentNodes are not marked correct in the nodetree"
If a document node is disabled it is marked as hidden right now. In the old ui there was a `x`-icon.

Old:
![bildschirmfoto 2017-12-27 um 15 25 22](https://user-images.githubusercontent.com/769789/34384094-3a7ed19a-eb1a-11e7-808c-87668968a87d.png)

New:
![bildschirmfoto 2017-12-27 um 15 25 42](https://user-images.githubusercontent.com/769789/34384099-3f97b3f4-eb1a-11e7-89e2-e3d4daccc8a2.png)

[2017-12-27 15:21] johannessteu commented on #1500
Right now there is no solution to stack fontawesome icons. The Icon-Component could be improved to support the stack feature FA provides. We could also set stacked icons "cornored" like this
https://codepen.io/anon/pen/aEprwy

[2017-12-27 21:38] aertmann opened #1501 "UI state body classes not ported"
Currently the main content area on the demo site is hidden behind the top bar so to add content to an empty page one has to use the content tree to select the collection.

![image](https://user-images.githubusercontent.com/903567/34393898-31d0d6ce-eb56-11e7-801c-bee352fecbe4.png)

This is due to the demo site making use of CSS adjustments for the backend to fix that, however the new UI doesn't hav

[2017-12-28 12:54] drlimbo opened #1502 "24 hour Format in DateTime-Picker"
I can't find a way to change the DateTime-Picker to 24 hour format.
`format: 'd-m-Y H:i'`

![datepicker](https://user-images.githubusercontent.com/1118783/34411357-6a9ccde8-ebd6-11e7-9b93-7802e7a7ac92.jpg)

[2017-12-28 13:57] dimaip opened #1503 "The time picker is awful: click multiple times to choose the time"
I tried hard to implement it differently at the time, but what we have now requires tens of clicks to pick the correct time.
The problem is that we'd be forced to use a completely different datatime editor, and I didn't find any nice React datepickers so far. In the worst case scenario we could implement it from scratch...

[2017-12-28 14:10] dimaip opened #1504 "Small visual glitches in the tree"
![image](https://user-images.githubusercontent.com/837032/34413038-ebd30ed4-ebf1-11e7-945d-6cfa9d4f81ab.png)

[2017-12-28 14:15] dimaip commented on #1502
Missed this ticket. Closing in favor of #1503 as there are some more technical details.

[2017-12-28 14:16] #1502 closed

[2017-12-28 14:18] dimaip opened #1505 "NodeTypeFilter glitches"
![image](https://user-images.githubusercontent.com/837032/34413198-e5d9268e-ebf2-11e7-8f27-0f8bc6d47724.png)

- No close button in nodetypes filter
- Select nodetype filter, then click on the header, then try to select again: doesn't work releably

[2017-12-28 14:20] drlimbo commented on #1503
24 hour time format would be very nice..

[2017-12-29 14:57] dimaip opened #1508 "Tree search is dead slow on large projects => rewrite the tree strucutre"
I have a project with 50k nodes. In the old UI it took 3s to search the tree for a particular node. In the new UI it takes 30s.

The problem is not with searching itself, but in `renderNodesWithParents`.
We have 6000 sibling nodes, that hidden from the tree by default. When one of those nodes is found, its parent node is rendered too, and for its parent node, all children are rendered too, which r

[2017-12-30 08:52] #1359 closed

[2017-12-30 12:59] markusguenther opened #1509 "Update jest to version 22"

[2018-01-02 02:22] markusguenther opened #1511 "Update eslint to version 4"

[2018-01-02 02:40] markusguenther opened #1513 "Update normalize.css"
We are 2 versions behind 5 > 7

[2018-01-02 15:09] putzwasser opened #3157 "Unsetting an integer property isn't possible"
### Description

You can't set the value of an integer property to `null` after setting a valid integer value before. I think this should be possible, because sometimes `null` as value for the property might be handy. E.g. if your valid integer value range is -∞ to +∞ (including 0).  So, just entering no value before submitting the changes could accidentally result in a valid value (which is `0`).

[2018-01-02 15:16] putzwasser opened #3158 "Backend transforms an entered string to 0 for integer properties."
### Description

If you enter a string into the input filed of an integer property the backend turns it into a `0` when saving. If your valid integer value range is -∞ to +∞ (including 0), then entering an invalid value before submitting the changes could accidentally result in a valid value (which is `0`).

### Steps to Reproduce

1. Create an int property

[code]

2. Go to the backend and enter

[2018-01-03 12:47] soee commented on #1461
I would like to see some workaround for it. When using a lot page pagination in backend, with new UI we have to use page tee to navigate and in many cases it is not as easy and quick as using pagination.

[2018-01-03 13:43] sorenmalling commented on #363
I can confirm that the issue is still present - changing a value and clicking "apply" doesn't reload the content and present the changes.

[2018-01-03 13:52] sorenmalling commented on #363
A followup comment:

when the client changes a image or any property with `reloadIfChanged` set to `true` and click the “Apply” button, the content is not being reloaded and they report that the interface doesn’t work. A full page refresh shows the changes as they expect

[2018-01-04 17:43] danielkestler commented on #1472
Sorry to say, this issue still occurs to me, even in new installations. Did you try it in a language other than English?

[2018-01-05 05:31] dimaip commented on #1472
Yep I noticed it too. It happens if your language has no fallback to English. Reopening.

[2018-01-05 17:40] #1513 closed

[2018-01-06 13:02] #1511 closed

[2018-01-08 09:31] bwaidelich commented on #1034
I can confirm, that the `ImageEditor` won't work from the `creationDialog`: The `MediaBrowser` won't be shown – this is probably a challenge to achieve UX wise..

[2018-01-09 11:57] bwaidelich opened #1523 "Unpublished nodes can't be selected when moved"
### Description

When a new (unpublished) document node is moved within the new UI it sometimes can't be selected/edited any longer

### Steps to Reproduce

1. Create a new Document node (e.g. in a fresh Demo Site)
![image](https://user-images.githubusercontent.com/307571/34719452-31bf46a4-f53b-11e7-9c56-d507afcd7b1d.png)
2. Drag the new (unpublished) document node into an existing (published) nod

[2018-01-09 12:14] bwaidelich commented on #1523
Maybe this is also related to https://github.com/neos/neos-development-collection/pull/1721

[2018-01-09 15:11] bwaidelich opened #1525 "Crop is not enforced when uploading images"
When configuring an image property with only one crop setting like:
[code]
The resulting image should be cropped automatically to the given ratio. Instead the crop settings are ignored, *unless the crop editor is actively used*.

[2018-01-10 10:56] bwaidelich commented on #1523
After another debugging session with @kitsunet I'm still clueless about the source of this problem..
What I can say is that it is *not* related to the routing (cache) after all because it *is* reproducible even with disabled caches.

One part that made us very suspicious is the `clone` of the subject (= node to move) in `\Neos\Neos\Ui\Domain\Model\Changes\MoveInto`. Cloning nodes can have a lot of

[2018-01-10 11:09] daniellienert opened #1526 "Removing the target of a link does not remove the link itself"
## How to reproduce
* Mark a text
* Set a link
* Select the text
* Remove the link in the topbar
* Click somewehere else
* The link tag is still there

## Environment
Chrome / Mac
UI Version 1.0.4

[2018-01-10 11:11] daniellienert opened #1527 "External Links are not possible"
## How to reproduce
* Select a text
* Enter an url, eg "https://neos.io"
* An empty link is rendered instead of the external link

Tested on Chrome / Mac
Version 1.0.4

[2018-01-10 11:14] bwaidelich commented on #1527
@daniellienert you'll have to click the suggestion for the link to be accepted:
![image](https://user-images.githubusercontent.com/307571/34769976-cb39b908-f5ff-11e7-806e-eda1563331c0.png)

But that one tricked me, too, and I think hitting [Enter] should work as well

[2018-01-10 11:26] daniellienert commented on #1527
@bwaidelich: Which version di you use? We are testing with 1.0.4 - and I see no relevant changes to master.

[2018-01-10 11:34] bwaidelich commented on #1527
Latest Neos, 3.3.3. But I recall that sometimes the suggestion was not there and only worked with http*s*.. very weird

[2018-01-10 11:39] daniellienert opened #1528 "Link selector overlaps Container"
![image](https://user-images.githubusercontent.com/642226/34770467-8f8e5984-f601-11e7-9503-e22ffae6be59.png)

## Tested On:
Chrome / Mac
UI Version 1.0.4

[2018-01-10 12:27] dfeyer opened #1529 "Unable to login if the default dimension has fallback"
This happend with empts caches and empty user sessions only. If the default dimension use fallback the redirect to show the backend if wrong. The screen in white with a exception in the JS console (see https://gist.github.com/anonymous/fe508d55d0b2b0b51eb82a6195f8f591)

In my case the default dimension is english (en) with fallback to a single dimension (fr), so the link to the backend is:

https:

[2018-01-10 13:33] DavidSporer commented on #1529
I have the exact same problem.
I've tried various language settings but default is de and fallback en in my case.

[2018-01-10 14:20] jonnitto commented on #754
Not all of them makes sense. But `Neos.NodeCreated`, `Neos.NodeRemoved` and `Neos.NodeSelected` would be very useful and important

[2018-01-11 09:45] mirkokaufmann opened #1530 "Missing document node tree reload after switching workspaces"
If you switch workspaces, the document node tree will not be automatically reloaded.

[2018-01-11 10:02] mirkokaufmann commented on #1487
I can confirm this issue. You can reproduce it with the following example:

Property: metaDescription
Validation: Neos.Neos/Validation/StringLengthValidator
Package: neos/seo

If you enter more than 156 characters, you can not save the changes but the validation information is missing.

[2018-01-11 10:14] mirkokaufmann commented on #1530
Sorry duplicate of #1464.

[2018-01-11 10:14] #1530 closed

[2018-01-11 12:18] DrillSergeant commented on #1481
I can confirm this behaviour. This blocks me from activating the new UI in production projects as we have a lot of inline editable properties.

[2018-01-13 22:16] markusguenther opened #1531 "Update postcss dependencies"
Some postcss plugins are outdated:

* postcss-css-variables
* postcss-hexrgba
* postcss-import

[2018-01-13 22:16] markusguenther commented on #1531
Will adjust this soonish

[2018-01-16 04:55] mstruebing commented on #1487
I figured out that the textarea would show the error, but didn't get the error passed in as validationErrors property, it's always empty.

[2018-01-16 09:41] lorenzulrich commented on #1503
What about this one:
https://github.com/YouCanBookMe/react-datetime

It is a fork of this one http://dev.quri.com/react-bootstrap-datetimepicker/ which is based on `bootstrap-datetimepicker` (which has no connection to React). I integrated the non-React variant some time ago and found it quite nicely. It also relies on Moment.js which is a nice library.

[2018-01-16 09:43] lorenzulrich commented on #1503
Fun fact: That's the one already used in Neos UI. Strange that there is no 24h support...

[2018-01-16 10:02] dimaip commented on #1503
Well, so maybe it's possible to enable the 24h format then?
I'm more concerned with how ugly the time picker is overall, e.g. you need 30 clicks to set time to 12:30...

[2018-01-16 10:03] lorenzulrich commented on #1503
I'm currently looking into setting up the UI for development, but I'm not really a good React dev. I let you know about the results. I agree the UI could be better, but 24h time format should have priority.

[2018-01-16 10:22] lorenzulrich opened #1534 "Localize Date Picker"
The date picker has two labels that are not localized:

* Today
* Apply

These need to be localized

[2018-01-16 10:59] dfeyer commented on #1529
A new one https://discuss.neos.io/t/backend-whitescreen-after-upgrade-to-3-3/2987

[2018-01-16 13:04] DrNik opened #1536 "SelectorBoxEditor does not set choosen data-source value"
The dropdown of SelectorBoxEditor gets emptied out at either "apply" or "reload", when provisioned via data-source.
The node property gets stored with the choosen value correctly,  though.

Tested versions:

- Neos: 3.3.3
- Neos.UI: 1.0.4

Nicola

[2018-01-16 13:40] DrillSergeant commented on #1536
I can confirm this behaviour (same versions). Here is the yaml-definition of my field:
[code]

[2018-01-16 14:47] lorenzulrich commented on #1503
I pushed a first iteration only respecting the locale of the user interface

I need more guidance for overriding this through settings, especially where to place and how to name such a setting. There is almost no example in the current Settings.yaml of neos-ui.

[2018-01-16 16:50] gsirin opened #1538 "UI slick slider element overwriting frontend elements..."
Updated to 3.3 LTS today and realized that in UI 1.0.4 the slick slider component is interfering with slick sliders used in the frontend.

Could someone wrap the UI slick slider? Or am I missing a point and this issue is something related on my side?

![slick](https://user-images.githubusercontent.com/3208391/35000750-7e1507b4-fae5-11e7-9763-404e6b72959a.png)

[2018-01-17 13:14] DrillSergeant commented on #1320
Maybe this works meanwhile (I am on version 1.0.4).

[code]
This is working for me.

But;
For me the validation is not working. I can submit the dialog without entering a date. @dimaip , shall I open a new issue for that?

[2018-01-17 13:32] DrillSergeant commented on #1138
Maybe we could add i18n-Labels for node creation dialog to the list?

[2018-01-17 13:44] dimaip commented on #1138
@DrillSergeant Uhm no, there's a ticket for that, we just need to provide fallbacks for that. That's super simple to tacke: basically search for all usages of I18n without fallbacks and add the English fallbacks.
Maybe you could give it a try?

[2018-01-17 14:43] DrillSergeant commented on #1138
@dimaip I was relating to the labels of dialog-elements:

[code]

Shows like this:
![image](https://user-images.githubusercontent.com/883552/35048267-c86c8942-fb9c-11e7-90b8-abd250a1a623.png)

Not sure if mean the same type of labels.

[2018-01-17 15:15] dimaip commented on #1138
Ohhh sorry, strange that it doesn't work. I think it deserves a separate issue. Could you open one?

[2018-01-17 15:39] DrillSergeant opened #1539 "Node creation dialog element labels translation not working"
Seems labels with value "i18n" are not translated. Instead "i18n" is used as a fixed value.

**Steps to reproduce:**
* Add configuration to a node that adds an element to the node creation dialog:
[code]
* Create a node (of the type you just added the creation dialog element for)

**Expected result:**
I see the element in the dialog with a translated label (or at least the i18n-key as fallback if

[2018-01-17 15:40] DrillSergeant commented on #1138
Of course: https://github.com/neos/neos-ui/issues/1539

[2018-01-17 16:05] dimaip commented on #1138
Thanks!

[2018-01-18 07:38] daniellienert opened #1540 "An node with unknown node type is not listed in the content tree"
If a node type was not configured (e.g. the name of a nodeType changed), this nodetype is rendered as "Unknown NodeType", but it is not shown in the content tree.

[2018-01-19 13:11] DrNik commented on #1536
UPDATE: by chance I discovered that the SelectorBoxEditor to work wants strings, not integers.

Don't know if it is wanted or a bug but casting keys as string makes the selector work on both new and old ui (where I faced the same issue and where I could discover the "fix").

Nicola

[2018-01-19 13:38] DrillSergeant commented on #1536
@DrNik , you mean this should work?

[code]

Still the same behaviour on my side.

[2018-01-19 14:43] DrNik commented on #1536
@DrillSergeant did not try with static options sorry, I am filling the SelectorBox from a data-source, so:

**this does not work**:` [{"value":165,"label":"whatever"}]`

**this does work**: `[{"value":"165","label":"whatever"}]`

and I only casted the key with `(string)` during data source array building.

Hope it helps,
Nicola

[2018-01-19 22:35] markusguenther opened #1541 "Add isUri() in util-helpers"
Resolve todo in EditorToolbar

[2018-01-19 23:33] markusguenther opened #1543 "Travis is broken - no integration tests"
The integration tests are not running. The connection to chrome does not work at the moment.
In the testcafe issue tracker some people mentioned that xvfb did the trick for them.

So i will give it a try.

[2018-01-20 00:07] markusguenther opened #1545 "yarn commands throwing warnings"
The command schema has been adjusted since yarn 1.0

[code]

[2018-01-20 07:11] #1543 closed

[2018-01-20 09:36] #1541 closed

[2018-01-20 10:46] #1545 closed

[2018-01-20 11:06] markusguenther commented on #1531
Now also postcss-nested

[2018-01-20 23:01] markusguenther opened #1548 "Remove unused package skin-deep"
### Description

The react ui has an outdated dev dependency with skin-deep but this is not in use.
So we can remove it.

[2018-01-20 23:05] markusguenther opened #1550 "Remove unused lolex package"
## Description

The react ui has an outdated dev dependency with lolex but this is not in use.
So we can remove it.

[2018-01-20 23:07] markusguenther opened #1552 "Update dev dependency cross-env"
## Description

The react ui has an outdated dev dependency with cross-env. We use it for the storybook e.g.

[2018-01-20 23:09] markusguenther opened #1554 "Update browser-env dependency"
## Description

The react ui has an outdated dev dependency with browser-env. We use it for the jest tests.

[2018-01-20 23:11] markusguenther opened #1556 "Update style-lint dependency"
## Description

The react ui has an outdated dev dependency with style-lint.

[2018-01-21 00:03] markusguenther opened #1558 "Remove unused semantic-release"
## Description

The react ui has an outdated dev dependency with semantic-release.

[2018-01-21 11:40] markusguenther commented on #1558
Hmm missed that the react-ui-components have an own travis configuration and that uses semantic release:

[code]

So we need to update this package :/ and we are way behind the latest version.

[2018-01-21 11:40] #1558 closed

[2018-01-21 11:47] markusguenther opened #1560 "Update semantic-release"
## Description
The react-ui-components package uses semantic-releasein the travis configuration.
We are way behind the latest version and should update the package.

The current version uses node > 8 and we are actually on 6.10.
So we should follow the migration instructions for the update.

##Migration Guide

Install travis-deploy-once:

[code]

Add thetravis-deploy-once script in your package.js

[2018-01-21 12:15] markusguenther opened #1561 "Remove Repository section for react-ui-components"
### Description

 The react-ui-components has an invalid repository section.
The repository does not exists anymore.

[code]

[2018-01-21 12:56] #1561 closed

[2018-01-21 12:58] #1550 closed

[2018-01-21 12:58] #1548 closed

[2018-01-21 12:59] #1528 closed

[2018-01-21 13:24] #1556 closed

[2018-01-21 20:22] #1531 closed

[2018-01-21 20:39] #1552 closed

[2018-01-21 20:44] #1554 closed

[2018-01-21 20:46] mstruebing opened #1564 "Update eslint-config-neos"
We need to update `eslint-config-neos` since there were many outdated depdencies.
However, this results in some problems.
In a quick research I've found this: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md

But there are some other issues and our codebase or rules have to be adjusted.

To get this started check out current master

`yarn add @neos-project/e

[2018-01-22 09:32] DrNik commented on #1536
A little further update, that I think could be helpful.
After further digging I realized that the **data-source data type has to match the data type configured in the node type property (.yaml)**.

Maybe it's an obvious discovery but due it can lead to tricky results I felt it's worthy to write it down ;).

Bests,
Nicola

[2018-01-22 09:36] DrillSergeant commented on #1536
In my case (see my config above, those with integer values, not those with string values) the property is of type integer same as the values but still did not work.

[2018-01-22 09:50] DrNik commented on #1536
@DrillSergeant yes I noticed that, and it still puzzles me, but that's why I highlighted the "data-source" part in my comment as I was facing the issue on data-source feeded SelectorBoxEditors.

A lognshot: have you tried moving completely to strings (as in your second example zoom.type = integer, still).

[2018-01-22 10:32] DrillSergeant commented on #1536
@DrNik Wow, indeed, switching the property-type to string and using string-values did work: the selectbox shows the current value.
Question is now: is this a bug or a contraint to use it only for string-type properties?
My "zoom" property feels better as integer, but I can handle it as string if must be for die SelectorBoxEditor.

[2018-01-22 10:37] DrNik commented on #1536
Imho feels like a bug due to via data-sources it works with integers, but being no core dev or react-ui dev I leave the last word to them.

[2018-01-22 10:59] DrNik opened #1565 "React UI content dimensions selector wrong behaviour with 2+ dimensions"
Trying the new react UI  I noticed that the content dimensions selector menu does not wrok properly in 2+ dimensions context.

**Main issue:** choosing either of the dimensions leads to the next step in which you can choose what kind of copy to make (former "apply" button behaviour, now gone). This basically makes it impossible to choose combinations of dimensions and it even ignores constraints a

[2018-01-22 14:48] paintsmultimedia opened #1566 "ckeditor indent/outdent is not configurable"
When activating the list elements for the ckeditor an indent and outdent button appear.
These buttons force p-tags to be indented by 40px, by adding a style property to the p-tag.
Therefore there is no way to manipulate indentions with pure css. For responsive websites it is necessary to have different indentions on the different breakpoints. Perhaps adding a class could be the better way.
On the

[2018-01-23 10:21] maya-shines opened #1567 "Group configured as collpased remains uncollapsed"
Custom groups in the node type selection list aren't collapsed, despite the configuration
Even if I manually collapse it, reload and open the node type selection list, it is again uncollapsed.

[2018-01-23 10:21] dfeyer opened #1568 "Missing support for Depending Properties"
The React UI does not support Depending Properties:

http://neos.readthedocs.io/en/stable/CreatingASite/NodeTypes/DependingProperties.html

We should implement at least the support without Backward compatibility, the current solution is lower level Ember based, so i think no way to have keep the compatibility here. In the documentation it's clearly noticed that the current API is experimental, so

[2018-01-23 10:23] kdambekalns opened #1569 "Implementation of "depending properties" missing?"
### Description

Neos is supposed to offer "Depending Properties": http://neos.readthedocs.io/en/latest/CreatingASite/NodeTypes/DependingProperties.html

### Steps to Reproduce

1. Wonder if this still works
2. …

#### Expected behavior

Documentation on how an implementation of this needs to be adjusted to the new UI.

#### Actual behavior

Nothing. Well, it would break. At least AFAICT.

### Aff

[2018-01-23 10:32] kdambekalns commented on #1569
Hehe, duplicate of #1568.

[2018-01-23 10:32] #1569 closed

[2018-01-23 10:51] maya-shines opened #1571 "Setting mediabrowser to false in File Selection Editor still enables search for existing files"
The upload form still allows to search through the existing assets, even though the configuration is set to mediabrowser:false. The actual Media Browser button is no longer there, but the functionality essentially remains, if the editor can still pick from the pool of assets by searching for them.

Or... Did I misunderstand the feature?

[2018-01-23 11:13] dimaip commented on #1527
Yep, clicking outside would work too, but [Enter] just erases it. Hopefully it would not be hard to fix, but won't have time earlier than February.

[2018-01-23 14:57] lisakampert opened #1572 "Custom Icon Classnames"
### Description

There is another issue related to the SelectBoxEditor: We have an own IconFont, which is set based upon the `dataSourceIdentifier`. The JSON looks like this:
[code]
But in the Frontend, there are any Icons rendered in the SelectBoxEditor. It seems, that it is because of our custom names and that we don't use the FontAwesome names. Changing our JSON to a valid FontAwesome Icon, the

[2018-01-23 14:59] dimaip commented on #1572
Thanks! Renamed, as this issue is not specific to SelectBox, but to any component using <Icon/>

[2018-01-24 08:18] Benjamin-K opened #1573 "Auto-Publish does always publish to live"
### Description

When making changes in the backend with **`Auto-Publish`** enabled, all changes will directly go to live workspace no matter which (parent-)workspace you are currently working in.

### Steps to Reproduce

1. Switch to a (parent-)workspace other than `live`.
2. Make changes in the Neos Backend.
3. Enable **`Auto-Publish`**.
4. See the message at the top telling you that all changes

[2018-01-24 09:20] lorenzulrich opened #1574 "SelectBoxEditor with option multiple scrambles selected values on update"
### Steps to Reproduce

1. Create a select box with the multiple options and define some values:

[code]

2. Now, select one of the values. As soon as you click the "Apply" button, the selected value disappears (this is a side-issue, not the actual issue, since the value is saved nevertheless):

![neos-select-multiple-selected-disappears](https://user-images.githubusercontent.com/1816023/35323830-

[2018-01-24 09:30] Dawqss commented on #1574
I have the same problem Neos: 3.3
UI 1.0.3

[2018-01-24 10:41] lorenzulrich commented on #1574
This is how it looks in the database:

![image](https://user-images.githubusercontent.com/1816023/35328083-862a7738-00fb-11e8-94fd-d692a9c85ba6.png)

[2018-01-24 13:04] dimaip commented on #1573
This is really crappy. We will try to fix it asap!

[2018-01-24 14:16] daniellienert opened #1576 "Exception when removing a link target page"
After removing a page which is the target of a link document an exception is thrown:

[code]
Seems, like half of the data is removed (up to the nodeCollection) and leaves the page.

[2018-01-25 20:31] lorenzulrich commented on #1320
I can also reproduce that Validation is not triggered in the creation dialog for a DateTime field.

[2018-01-26 07:16] maya-shines opened #1577 "Include "disable"-function for other Property Types in Inspector"
I saw that it's possible to set the boolean and textfield property editors to disabled. That's really convenient and I'd love to be able to apply it to the reference/references editors too.

[2018-01-26 09:40] kdambekalns commented on #1565
This is clearly a regression, switching dimensions when more than one dimension is configured is basically broken with the UI not waiting for (or veen having) an "OK" button in the switcher like before.

[2018-01-26 09:41] dfeyer opened #1578 "Unable to create content when the content of a content collection are fetched from an other site"
Tricky question, we have some document that show content from a content collection stored in an other document and from an other site.

The editing work perfectly on the Ember UI. But for the new UI ... impossible to create content (the + button is disabled). Any clue on what can cause this issue ? Editing existing contents works, even creating conten bellow by ex. an two columns content element w

[2018-01-26 10:17] kdambekalns opened #1579 "Initial load much slower than with legacy UI"
### Description

On a site (I am working on) with a lot of nodes, the initial load of the React UI delivers a document of more than 1.75 MB - which takes 80 seconds to render (don't mind the absolute value, but keep it in mind for comparison.)

#### Expected behavior

The React UI should not load slower than before, especially because everyone claims it is so mch faster.

#### Actual behavior

<im

[2018-01-26 10:31] dimaip commented on #1579
The issue here is not JS size. The PHP code to render nodes for the UI is super slow.
This is related: https://github.com/neos/neos-ui/issues/1508

[2018-01-26 10:32] kdambekalns commented on #1579
Ok, no wonder… this is coming from
[code]
calling

[code]

which in turn… 🙈

[2018-01-26 10:32] dimaip commented on #1579
See my analysis in the issue linked

[2018-01-27 09:09] dimaip commented on #1579
I have an idea, I'll give this issue a try @kitsunet

[2018-01-27 09:40] kitsunet commented on #1579
Add me if you have soemthing to review.

[2018-01-28 10:36] lorenzulrich commented on #1574
I tried to reproduce this again in order to help find a solution and it seems that something was still wrong with my environment when I last tested. With `type: array`, I can't reproduce this anymore. @Dawqss obviously could still reproduce it - could you test this again?

[2018-01-28 10:42] lorenzulrich commented on #1422
So, if I understand this correctly:

* If a label is not localized to a (non-english) locale in Neos/Flow, it falls back to the English label anyway.
* Therefore it's sufficient not to have fallbacks within i18n usage inside the Neos UI

So the only question remaining here seems to be:

Should this commit https://github.com/neos/neos-development-collection/pull/1829 also be integrated to Neos 3.0/

[2018-01-28 10:43] kitsunet commented on #1422
I thought the 1.0 version of the new UI only works with 3.3 anyway?

[2018-01-28 10:47] lorenzulrich commented on #1422
Ah, you're right, according to `composer.json`, Neos 3.3 is needed. So I don't understand what would be left here.

[2018-01-28 12:54] lorenzulrich commented on #1500
Would we do that in `Packages/Application/Neos.Neos.Ui/packages/react-ui-components/src/Icon` using a new property `stackedIconClassName`?

[2018-01-28 12:55] lorenzulrich commented on #1500
And should `cornered` be an option or do we assume we always want the stacked item to be cornered?

[2018-01-28 13:05] lorenzulrich commented on #1500
(Asking because that could be a task for a beginner such as me ;-))

[2018-01-28 13:20] #1486 closed

[2018-01-28 23:13] lorenzulrich commented on #1539
Just to let anyone know: I'm currently working on this. Most of it needs to be adapted inside neos/neos.

[2018-01-29 05:55] dimaip commented on #1422
It would only fallback to English if English is in your fallback chain.

[2018-01-29 05:59] dimaip commented on #1503
Hey but it still is awful: you need to click 30 times to set 12:30, no?

[2018-01-29 06:05] gerdemann commented on #1572
Resolved in https://github.com/neos/neos-ui/pull/1580

[2018-01-29 06:18] #1572 closed

[2018-01-29 10:14] lorenzulrich commented on #1503
Yes, I agree the UX has not been improved. To my knowledge, there are not many good date/time picker components out there.

The current one could be integrated differently, by displaying the actual input field and not a fake input field and enable the `input` option, see readme at https://github.com/YouCanBookMe/react-datetime. This would allow to set the date and time manually in the input field.

[2018-01-29 10:52] lorenzulrich commented on #1539
I added this functionality for the label of the creationDialog elements. I'm not sure if the syntax inside the XLF file is OK, e.g. `creationDialog.title`. I think it's not too bad because it follows the known pattern `properties.foo`, `groups.bar` etc.. In contrast to `creationDialog`, they are in plural form, so an alternative - which is a little clumsy IMO - would be `creationDialogElements`.

[2018-01-29 10:53] lorenzulrich commented on #1539
At the same time and as an example I made the `title` property of the default `Document` node type make use of the i18n functionality. I intentionally used `Title` instead of `Node title` because in the inspector of a page, the property is also named `Title`.

[2018-01-29 10:55] lorenzulrich commented on #1534
This can be closed IMO?

[2018-01-29 11:31] lorenzulrich commented on #1459
As far as I can see from reading the code, "Loading..." is displayed at a very early stage of initializing the React application. Therefore the i18n labels are not fetched yet.

I suggest (and will push a PR) to use a spinner of the already existing `<Icon>` component.

![image](https://user-images.githubusercontent.com/1816023/35508350-595f82fe-04f0-11e8-9283-d3d82900a385.png)

[2018-01-29 11:35] lorenzulrich commented on #1422
So the conclusion is to add fallbacks for all labels used?

[2018-01-29 11:41] dimaip commented on #1422
Yup.

[2018-01-29 11:42] lorenzulrich commented on #1387
Discard (without all) had no confirmation in the old ui. Are we adding it anyway?

[2018-01-29 11:59] dimaip commented on #1387
Don't know. If you don't have strong opinions that we should, I'd then fallback to doing it exactly how we did it before in the old UI.

[2018-01-29 12:01] lorenzulrich commented on #1387
In the case reported, the "Discard" button was accidentially hit because it is next to "Publish all". That case wouldn't be improved with having it in line with the old UI.

BTW, the old UI also has a confirmation dialog for "Publish all" (which can also lead to a disaster if accidentially clicked).

[2018-01-29 12:23] klfman commented on #1387
I would strongly argue for adding it.

It shouldn't be a lot of work to add a confirmation dialog, it's not in the way, and it's not an unneeded feature leading to a feature creep. And the standard use case would be "publish" anyways, so it's not in the way of the normal workflow.

However, destroying a days work is terrible.

[2018-01-29 13:03] dfeyer commented on #1500
No option, I think it's more consistent to have it on the same corner, like in the old UI

Yes I think this feature can live in Icon component

[2018-01-29 15:13] johannessteu commented on #1500
We had earlier a discussion about this in Slack and how to implent. The outcame was to introduce a new StackedIconComponent with some props to configure it. I think i already worked on it, but never pushed it. Can look tomorrow if i can find that change if someone wants to have a look at it

[2018-01-29 15:15] johannessteu commented on #1500
https://github.com/johannessteu/neos-ui/tree/stacked-icons

[2018-01-29 15:18] lorenzulrich commented on #1500
Ah, very good! Will you take care of implementing also do rest or should I use your work as a start?

[2018-01-29 15:53] johannessteu commented on #1500
You can use it as a start!

[2018-01-29 17:05] #1534 closed

[2018-01-29 17:33] #1539 closed

[2018-01-29 18:12] #1459 closed

[2018-01-30 22:14] lorenzulrich commented on #1500
Hidden should be doable, but timed nodes will be harder because the API doesn't provide this value yet.

API of the old UI:

![image](https://user-images.githubusercontent.com/1816023/35594299-ef5b8190-0612-11e8-977e-8f89dda2beb7.png)

API of the new UI:

![image](https://user-images.githubusercontent.com/1816023/35594359-266dff28-0613-11e8-9ce5-a6f5aec55d7c.png)

[2018-01-30 22:33] lorenzulrich commented on #1500
Furthermore, the implementation on the old UI is very specific to these use-cases, see the CSS:

[code]

They have been designed to look good (using different bg/foreground colors and border-radius).

I'm not sure what the best way to go is:

* If we do it in an abstract way as @johannessteu suggests, we need quite some properties for the `<StackedIcon>` component: height, width, color, background

[2018-01-31 09:34] gerdemann opened #1589 "Preview Central does not immediately show all preview modes"
### Description

Preview Central does not immediately show all modes.
![Preview Central](https://cdn-pro.dprcdn.net/files/acc_496443/9lrZvb)

### Steps to Reproduce

1. Configure preview modes
2. Toggle Preview Central
3. Click an other preview mode

#### Expected behavior

Preview Central shows immediately all modes.

### Affected Versions

Neos: 3.3.3

UI: 1.0.4

[2018-01-31 10:11] lisaguenther opened #1590 "Unable to change a picture or text after copying an element on neos.io"
### Description

Unable to change a picture or text after copying an element on neos.io https://www.neos.io/events/neos-conference-hamburg-2018.html

### Steps to Reproduce

1.  I copied a two column content
2.  tried to select the picture (also in the tree)
3.  When I try to click in the element it always links me to somewhere.

#### Expected behavior

By trying to select the element I wanted to

[2018-01-31 14:06] mtelgkamp opened #1592 "All buttons should have a descriptive text"
### Description

For better accessibility all buttons should have a descriptive text. Either the text of the button or an aria-label.

#### Expected behavior

Screenreaders should announce the function of a button

#### Actual behavior

Some buttons are announced as "button" only

- PublishDropDown > ThemedDropDownWrapper
  - [x] ThemedIcon
- SecondaryToolbar
  - [x] PreviewButton
  - [x] FullScre

[2018-01-31 14:12] #1589 closed

[2018-01-31 16:02] beardcoder opened #1593 "No focus indicator"
### Description

No highlighting of focus elements.

### Steps to Reproduce

1. Open the neos-ui "mypage.xy/news"
2. Press the tab key

#### Expected behavior

After press the tab key you see the default browser visual focus indicator.

![neos ui](https://cdn.pbrd.co/images/H5uwXa0.png)

#### Actual behavior

No visual focus indiucator.

### Affected Versions

UI: dev-master 1.0.4

[2018-01-31 16:16] theilm opened #1594 "Add hotkeys for better keyboard navigation"
### Description

In order to make keyboard navigation easier and improve accessibility, keyboard shortcuts should be added to central components (e.g. for opening the inspector or for publishing changes).

[2018-01-31 17:30] mgoldbeck opened #1598 "CKEditor misses focus by tabbing through content elements"
### Description

When tabbing through the content elements of a Document they are not focused and the CKEditor toolbar is not shown.

### Steps to Reproduce

1. Select a contentelement
2. start tabbing
3. tab backwards

#### Expected behavior

By tabbing selected content elements should be focused and a the CKEditor toolbar should be shown

#### Actual behavior

![ckeditor_tabbing_focus](https://u

[2018-01-31 21:29] daniellienert commented on #1576
Cannot reproduce the problem on the demo page. Seems to be a project specific.

[2018-01-31 21:29] #1576 closed

[2018-02-01 12:33] bwaidelich commented on #1527
@mstruebing I didn't check, but are you sure that #1599 fixes the issue of the *LinkEditor*? it seems to me it only addresses the CKEditor, but that might be related of course

[2018-02-01 12:45] #1593 closed

[2018-02-01 12:47] mstruebing opened #1600 "Define a global outline to indicate focused element"
Like mentioned here: https://github.com/neos/neos-ui/pull/1597
we should define a global style for focused elements to give an indicator for the user - especially when used via the keyboard.

[2018-02-01 12:53] mstruebing commented on #1527
It is indeed related. External links are possible, but the enter problem still exists.

[2018-02-01 16:40] mgoldbeck opened #1601 "Showing CKEditor shortcuts in the toolbar"
### Description

The most shortcuts of CKEditor are working but the most editors are not aware of them.

Especially the ones for
* text formattting https://docs.ckeditor.com/ckeditor4/latest/guide/dev_shortcuts.html#text-styling
* and Link editing https://docs.ckeditor.com/ckeditor4/latest/guide/dev_shortcuts.html#rich-text
should be useful

Complete List of the shortcuts https://docs.ckeditor.com

[2018-02-01 16:46] mstruebing commented on #1601
I would suggest to make something like a shortcut-overview when pressing `?` without being in any input element

[2018-02-03 14:55] MCStreetguy opened #1603 "Backend crashes after login"
### Description

I've upgraded an existing project to the new Neos version including the new UI.
Now whenever you try to login to the backend it crashes.
It's possible to fix this behaviour when opening up `/neos/legacy` after the crash and the switch back to `/neos/content` again when it has fully loaded.

The error message shown up in the browser console is as following:
[code]

As far as I can

[2018-02-03 19:12] dimaip commented on #1574
@lorenzulrich I used your code exactly to test it on latest master, and couldn't reproduce it either.
@Dawqss please test it again, and reopen the issue if you are able to reproduce it now.

[2018-02-03 19:12] #1574 closed

[2018-02-03 20:41] dimaip commented on #1603
Hi @MCStreetguy! Sorry to hear you are having issues with the new UI :(
Could it be a duplicate of https://github.com/neos/neos-ui/issues/1529?

[2018-02-03 20:43] dimaip commented on #1590
Hi @lisaguenther! I think it's not related to moving a node. The issue happens when I select any Image node on the neos.io website. I couldn't debug it further, as there are no sourcemaps in production currently. Will try to reproduce it locally.

[2018-02-04 09:55] #1527 closed

[2018-02-04 13:35] dimaip commented on #1387
Anyone taking care of it? If not then I will.

[2018-02-04 13:49] dimaip commented on #1526
If you just erase the link and click away, it won't get removed, but will stay with an empty href, that was the behavior in the old UI too.
However you click on the link icon again, it would completely remove the link.
Closing for now, if you meant something different please reopen.

[2018-02-04 13:49] #1526 closed

[2018-02-04 13:56] dimaip commented on #1577
Hi @maya-shines! I'm not really aware of this feature? Was it implemented in the old UI? What's the usecase and how does it work? Could you provide some sample NodeTypes.yaml snippet?

[2018-02-04 14:03] dimaip commented on #1501
Yep I think this needs to be fixed. Just need to fix first-prio bugs and we'll get to this one.

[2018-02-04 14:06] dimaip commented on #1465
Actually it wasn't the case in the old UI, so it's not an urgent issue. Not that easy to implement also.

[2018-02-04 14:09] dimaip commented on #1238
Done

[2018-02-04 14:09] #1238 closed

[2018-02-04 19:29] dimaip commented on #1565
@DrNik could you please test my PR trying to fix this issue?

[2018-02-04 19:56] dimaip commented on #1529
Could you guys try #1607? Could help to circumvent this issue.
@dfeyer @DavidSporer

[2018-02-05 04:57] mstruebing commented on #1384
As far as I can see, this isn't the case anymore. So I'm closing this for now.

[2018-02-05 04:57] #1384 closed

[2018-02-05 05:14] mstruebing commented on #1387
I would want to do this if you not already started :)

[2018-02-05 06:14] dimaip commented on #1473
Can no longer reproduce (in Chrome, on latest master). If you can, please reopen.

![image](https://user-images.githubusercontent.com/837032/35790746-fef4a51e-0a54-11e8-8b16-2b5f3c82121c.png)

[2018-02-05 06:14] #1473 closed

[2018-02-05 06:19] mstruebing opened #1609 "CK-Link-Editor Searchable Selectbox Header to small in FF 58"
![screenshot_2018-02-05_07-18-55](https://user-images.githubusercontent.com/12071529/35790884-e433dc14-0a44-11e8-830a-2ed0d0fb1169.png)

[2018-02-05 06:59] dimaip commented on #1387
Ah sorry I just implemented it on my train ride :( Will push soon.

[2018-02-05 07:14] mstruebing commented on #1387
No problem, and great that you are back! :)

[2018-02-05 08:14] maya-shines commented on #1577
Hey @dimaip,
welllll, according to the documentation, it's a feature? 😁
As far as I understand it, it just implements the HTML property:

Essentially, I want to set a property on node creation and then disallow the editors from changing it to prevent them from breaking things.

[2018-02-05 08:23] dimaip commented on #1577
@maya-shines thanks for explaining, needs to be implemented.

But in your case, why don't you just hide it from inspector? Or do you want them still to be able to see it?

[2018-02-05 08:25] dimaip commented on #1609
Ah, I guess it's that extra pixel I added, in Chrome it looks good.

[2018-02-05 08:29] klfman commented on #1387
Thanks for taking care about it! :)

[2018-02-05 08:30] MCStreetguy commented on #1603
Oh yes I'm sorry that I missed that thread. That's exactly my problem.
I'll leave a comment there and close this one.

[2018-02-05 08:30] #1603 closed

[2018-02-05 09:21] MCStreetguy commented on #1529
I got the same error.
@dimaip I tried out your pr on my problematic installation but it did not solve the problem

[2018-02-05 09:24] dimaip commented on #1529
@MCStreetguy that's weird? Did you follow the steps written here? https://github.com/neos/neos-ui#contributing

[2018-02-05 11:00] maya-shines commented on #1577
@dimaip, that's what I ended up doing. But it feels odd that the "sibling"-nodetypes (they all inherit from the same nodetype) all have that property and this one appears not to. Even if the editors can't change it, I thought it would feel more transparent to show that it's there. ¯\_(ツ)_/¯

[2018-02-05 11:46] #1592 closed

[2018-02-05 13:06] MCStreetguy commented on #1529
@dimaip Ok maybe I missed something. I retried It now with your changes merged to the master branch and it works out just fine. Thus thanks a lot, you solved my problem which made me suffer for 2 weeks now since it happened in a production system of a customer.

[2018-02-05 13:11] dimaip commented on #1529
Cool! Please write if you notice something spooky about it.

[2018-02-05 13:12] dimaip commented on #1577
@maya-shines makes sense, thanks for explaining!

[2018-02-05 13:24] dimaip commented on #1529
In that case I'll close the issue for now, please reopen if needed.

[2018-02-05 13:24] #1529 closed

[2018-02-05 13:28] dimaip opened #1611 "Improve handling of dimension constraints in multi-dimension setups"
Currently constraints are only correctly applied on first load. Once you change one dimension, the second one should be re-filtered according to selected dimension's constraints.

Could be tricky to implement, as possibly it would require a server request to find out allowed dimensions.
In the old UI this logic feels really off too.

## Steps to reproduce

Take a similar dimension config:

[code]

[2018-02-05 13:29] dimaip commented on #1565
So I think the main critical issue is resolved. I've opened a separate issue for constraints: https://github.com/neos/neos-ui/issues/1611

[2018-02-05 13:29] #1565 closed

[2018-02-05 13:39] DrNik commented on #1565
@dimaip I'll check it out right away, about the constraints it's not a big issue in my opinion, i just reported iit cause i did not know it was a consequence, a cause or just a coincident behaviour.

Thanks,
Nicola

[2018-02-05 13:41] dimaip commented on #1565
Yep, not that it's merged you can just test latest master.

[2018-02-05 15:14] DrNik commented on #1565
@dimaipI just made a quick check and the main functionality is back in place, unfortunately there's no reload on change therefore combining dimensions according to the constraints making it stiil unusable.
Anyways a good step forward thanks, I'll monitor the other issue.

Thanks,
Nicola

[2018-02-05 15:19] dimaip commented on #1565
@DrNik Hey, what do you mean by reload on change?

[2018-02-05 16:26] grebaldi opened #1612 "404 after editing `uriPathSegment` alongside any other property with `reloadIfChanged`"
If you edit the `uriPathSegment` of a document and additionally edit another property, that is configured with `reloadIfChanged: true`, the UI will show a 404 error page in the guest frame.

Currently, `reloadIfChanged` triggers a simple `window.location.reload()` call in the guest frame, which of course leads to a 404 in case the URI of the guest frame document changed in the meantime.

My sugges

[2018-02-05 16:47] dimaip commented on #1611
So yes, I've checked how it was implemented in the old UI: it was making an extra ajax request to check constraints. Will do the same.

[2018-02-05 18:25] #1387 closed

[2018-02-06 12:27] dimaip commented on #1565
@DrNik could you retest this? https://github.com/neos/neos-ui/pull/1615
Don't forget to build it locally.

[2018-02-06 13:32] gerdemann opened #1616 "Inspector editors block loading of the iFrame"
### Description

We have a lot of reference editors on a page and the UI waits until all requests are ready before it runs the iFrame.

### Steps to Reproduce

1. Add reference editors or image editors on your Document-NodeType
2. Open or reload the Neos-Backend

#### Expected behavior

Requests from the backend UI should not block the loading of the iFrame.

#### Actual behavior

The requests fro

[2018-02-06 14:28] dimaip commented on #1500
Feel free to add it to the API.

I'd be fine with that. Go for whatever works, we could always abstract it away and refactor.

Thanks for getting into this stuff!

[2018-02-06 16:01] dfeyer commented on #363
I confirm both (reloadIfChanged and reloadPageIfChanged) are not working, try to push it in the next release.

[2018-02-06 16:32] dimaip commented on #363
will take care

[2018-02-06 16:44] dimaip commented on #363
@dfeyer @sorenmalling weird, just tested with this config from the demo site, and it seems to reload...
[code]

[2018-02-06 18:54] dimaip commented on #363
Currently doing out of band rendering instead of full page reload

[2018-02-06 20:30] dimaip commented on #1568
With React, it's very simple to implement a declarative API, instead of a low-level imperative one like we did before.

I propose to pre-process nodetype definition in the following way: check if the value of a config begins with `UI_eval:` (or any other keyword, can't think of better one right now), if yes then `eval()` it, e.g.

[code]

where `node` would be set to the current focused node, with

[2018-02-07 05:19] #1611 closed

[2018-02-07 07:23] DrNik commented on #1565
@dimap sorry I missed your previous comments.
Yes I meant "reload of constraints": the dropdowns would not change according to user choice, but you pointed it already out in #1611 (it was just a confirmation).

With "buld it locally" you mean I should follow "contributors guidelines" as in the README on github repo, right?!

Thanks,
Nicola

[2018-02-07 08:01] mficzel commented on #1568
How about using an eel subset with only limited helpers that can be evaluated in js? I thought i have seen experiments with js-versions of flowQuery an eel somewhere.

[code]
The main advantage would be that we can evaluate that on the server aswell and prevent setting disabled properties.

If we decide this is a pure inspector-feature without be aspects it should go to the `inspector` section of

[2018-02-07 08:36] dimaip commented on #1568
Eel support is potentially a nice idea, but IMO that's a different feature. Also it would be expensive to do it for all properties.

Didn't get that part. Currently it's not restricted to any part of the configuration. See my WIP implementation.

[2018-02-07 08:37] dimaip commented on #1565
Yes. But it's already merged, so you can just pull latest master to test.

[2018-02-07 09:00] DrNik commented on #1565
Ok I'll try it out right away, thanks again.

[2018-02-07 11:08] DrNik commented on #1565
@dimaip Great news, it seems to work correctly, obviously only on Neos >= 3.3.4.
On previous versions I receive a malformed json error, I believe due to the response is in "html-only".

Thanks

[2018-02-08 07:36] #363 closed

[2018-02-08 08:33] mficzel commented on #1568
@dimaip what i mean is that i would use the path `__property__.ui.inspector.disabled` if the condition is only evaluated in the inspector. The currently suggested path `__property__.ui.disabled` would make sense if inline editing will respect this setting aswell and if this is/should/will be evaluated on the serverside aswell `__property__.disabled` would be a good key.

[2018-02-08 08:38] dimaip commented on #1568
@mficzel ah, I see, but disabled is already implemented in some editors, it wasn't my suggestion to add it. Anyways, this change is not about it, it's about pre-processing any nodetype configuration property on client side.

[2018-02-08 10:00] kdambekalns opened #1619 "Documentation on CKEditor configuration missing"
There is no documentation on how to configure CKEditor – and while it's nice that the Aloha options are supported, not all of them work and it might be very confusing for new users to connect those two seemingly unrelated topics.

[2018-02-08 10:04] kdambekalns opened #1620 "formatlesspaste not working correctly in CKEditor"
### Description

Formatless paste does not work reliably.

It seem as if CKEditor (and/or our bindings to it) do not allow to completely block the lesaking of markup into Neos through copy and paste. In `removeTags.js` someone left this comment:

### Steps to Reproduce

Using a config like

    ui:
      aloha:
        'formatlesspaste':
          'button': FALSE
          'formatlessPasteOption':

[2018-02-09 11:00] johannessteu commented on #1437
@darmstaedter what would you expect instead?

[2018-02-09 11:03] #1598 closed

[2018-02-09 13:08] dimaip commented on #1437
IMO we should remove that dialog completely, it's a leftover from CKE.

[2018-02-09 13:11] johannessteu commented on #1437
Our editors like it btw :D

[2018-02-09 13:50] johannessteu commented on #1525
Should we force open the crop editor here so the editor notices that the uploaded image will be cropped? If not he might uploads an image and doesn't really recognize that it is force cropped

[2018-02-09 14:00] #1505 closed

[2018-02-09 14:02] bwaidelich commented on #1525
yes, I think that would be a nice behavior

[2018-02-09 14:04] mstruebing commented on #1449
This is fixed with #1622

[2018-02-09 14:04] #1449 closed

[2018-02-09 15:09] johannessteu commented on #1501
I'd like to give this one a try!

[2018-02-09 15:32] aertmann commented on #1501
Nice @johannessteu. Just revisited this one and actually not sure if it even is needed at all since the requirements for the new UI are different due to the iFrame. Ideally one wouldn't need to alter anything on their website related to Neos UI as as long as it's responsive it should work.

The only thing might be related to the UI inside the iFrame (content element handles etc.), but that is alre

[2018-02-09 15:48] aertmann commented on #1501
Fixed the demo site with https://github.com/neos/Neos.Demo/pull/37

[2018-02-10 18:41] #1366 closed

[2018-02-10 19:02] markusguenther opened #1628 "Update documentation"
### Description

We are using node in version 8.9.4 at the moment and the documentation still list 6.10

### Steps to Reproduce

Check the README.

#### Expected behavior

Use current node version in README.

[2018-02-10 19:09] mstruebing opened #1629 "RFC: Exchange `package.json` with `make` as build tool"
I'm currently using more and more Makefiles as make ist mostly available on every system and has built-in features like command completion for like every shell. Most developers are familiar with it - who have never typed a `make install`?

As our project grows I think it would be good to remove the scripts from our `package.json` inside a Makefile. That way it would be easier to write small script

[2018-02-10 19:34] mstruebing commented on #1501
This can be closed then.

[2018-02-10 19:34] #1501 closed

[2018-02-10 20:12] markusguenther opened #1631 "Update testcafe"
### Description

We are using testcafe for acceptance testing. Actually we have version 0.18.0 in use.
The worked hard and released already 0.18.6 with lots of fixes and features.

[2018-02-10 20:49] #1631 closed

[2018-02-10 20:50] #1628 closed

[2018-02-11 13:15] dimaip commented on #1629
Ah, sorry, missed this and left a comment on the PR.
Actually I think it's more common for JS projects to make use of npm scripts, at least I have a very shallow background with make, and it feels really unix-y to me... But whatever works, don't really mind, if you feel it will be easier to use I should trust you judgment here (wait, I'm writing it to a person who regularly uses vim... :D)

[2018-02-11 13:57] johannessteu commented on #1277
@gerhard-boden is this still an issue?

[2018-02-11 14:00] dimaip commented on #1437
Duh, I just want CKE5 itegration asap.
@johannessteu what do your editors love about it over our native link editor?

[2018-02-11 14:04] johannessteu commented on #1437
It's for them just easier to have this little form to "configure" the link at one place. Linktext, url, (maybe no-follow/no-index as well etc .) For some it's also just easier to select the "type" e-mail as they don't know that you can do this my linking `mailto:...` and so on

[2018-02-11 14:43] dimaip commented on #1437
@johannessteu would be nice to learn from it and improve our solution

[2018-02-11 17:10] mstruebing commented on #1629
I just find it more convenient when writing little scripts and stuff instead of doing it in the `package.json`, especially when this grows.
I mean it would be possible to write bash scripts (or any other language) and trigger them via npm/yarn.
If the majority is against introducing make I would suggest that we should write more complex scripts in bash or node or whatever to make setup, releasing

[2018-02-11 18:41] #1504 closed

[2018-02-11 19:35] dimaip commented on #1629
As said, I remain neutral on the issue, if nobody is against it then I don't mind whatever tool.

[2018-02-13 09:06] MCStreetguy commented on #1612
Happens for me too.

[2018-02-13 09:09] dimaip commented on #1612
@grebaldi will it work with things like pagination in user content?

[2018-02-13 09:16] kdambekalns commented on #1590
It even happens when selecting an image node in the structure tree.

<img width="609" alt="console-output" src="https://user-images.githubusercontent.com/95873/36141938-e1b21664-10a6-11e8-9f5a-3bf92a64290d.png">

[2018-02-13 09:21] kdambekalns commented on #1590
In case it's fixed with the most current version, https://github.com/neos/Neos.NeosIo/pull/195 might help already.

[2018-02-13 09:25] dimaip commented on #1590
@kdambekalns yep once it's merged I'll debug it in production

[2018-02-13 14:03] kdambekalns commented on #1590
Not fixed, at least not for me. Maybe your caches will be cleaner than mine, if that's an issue… :)

[2018-02-13 14:06] dimaip commented on #1590
@kdambekalns it was not supposed to fix it, but now we have sourcemaps to debug the issue even in production build. Will take care this evening.

[2018-02-13 18:45] #1590 closed

[2018-02-15 09:38] lorenzulrich opened #1637 "Changing pagination reloads content iFrame"
### Description

When using pagination inside Neos, the content iFrame is reloaded after switching to another page, leading to the first page again.

### Steps to Reproduce

1. Create a component with pagination, e.g. a `Flowpack.Listable:PaginatedCollection`
2. Switch to page 2

#### Expected behavior

Records of page 2 are displayed

#### Actual behavior

Records of page 2 are quickly displayed,

[2018-02-15 09:43] #1568 closed

[2018-02-15 10:53] #1629 closed

[2018-02-15 10:57] #1469 closed

[2018-02-15 15:59] DrillSergeant opened #1638 "Login to Neos with new ui does not work with IE11"
### Steps to Reproduce

1. Use Internet Explorer 11 to log into a Neos 3.3 (with new React UI)

#### Expected behavior

I am logged in an can edit content

#### Actual behavior

I get a white browserpage

### Affected Versions

Neos: 3.3.4

UI: 1.0.7

[2018-02-15 19:02] lorenzulrich commented on #1638
Currently, the Neos UI does not work at all in IE11. The reason might be the same problem discussed in detail here: https://github.com/facebook/react/issues/8379
We will need to try to find out which is the best solution.

[2018-02-15 19:07] dimaip commented on #1637
Closing in favor of #1461

[2018-02-15 19:07] #1637 closed

[2018-02-15 19:08] dimaip commented on #1461
@skurfuerst I have no idea how to solve it currently, and it's pretty important to fix it I think. See #1637 as an illustration of the problem.

[2018-02-15 19:09] dimaip commented on #1461
Basically the only solution that I see is to transfer the full page url in addition to node context path...

[2018-02-16 18:57] gerhard-boden commented on #1277
The error is the same I'm afraid `TypeError: Cannot convert undefined or null to object`.

So the property is of type ``array`` and within the database the entry contains an JSON structured array (tried multiple variations like with and without index, but no luck)

[2018-02-18 17:56] mstruebing commented on #1564
We already updated.

[2018-02-18 17:56] #1564 closed

[2018-02-19 09:18] mstruebing commented on #1281
We are already switched

[2018-02-19 09:18] #1281 closed

[2018-02-19 09:19] mstruebing opened #1639 "No possibilty to remove inline links"
Inline links set via CKEditor cannot be deleted currently.

[2018-02-19 09:23] dimaip commented on #1639
Can not reproduce...
![peek 2018-02-19 12-22](https://user-images.githubusercontent.com/837032/36370355-abd8be30-156f-11e8-936a-dd94fc5afc63.gif)

[2018-02-19 09:25] mstruebing commented on #1639
Magic! Thx!

[2018-02-19 09:25] #1639 closed

[2018-02-19 09:25] dimaip commented on #1639
I'd rather call it a UX issue if people have trouble understanding how to remove links...

[2018-02-19 17:46] dimaip commented on #1566
How did it work in the old UI?

[2018-02-19 17:48] dimaip commented on #1536
So what do we do about this? Is that a bug really?

[2018-02-19 17:59] DrNik commented on #1536
@dimaip I do not think is a bug, at least for my use case, i.e. populating the SelectorEditor via DataSource. I'm not so sure about @DrillSergeant use case as he was stating that using integer values and polulating SelectorEditor statically wasn't working.
Imho the behaviour should be consistent among use cases and it seems not to be, but I could be wrong.

Thanks

[2018-02-19 20:17] lorenzulrich commented on #1536
At least when you try referencing an entity though dataSource, the selection is immediately lost upon clicking "Apply" and you can't save it. So IMO it's clearly a bug. But I'm not sure if we need separate issues for the different (failing) use-cases.

[2018-02-20 05:55] DrillSergeant commented on #1536
@dimaip I consider it a bug that it's not possible to  have integer values. As @lorenzulrich mentioned it's even worse with entitiy references because the data is not even saved to database when hitting the apply-button. Maybe 2 different issues, not sure.

[2018-02-21 12:59] hlubek opened #1641 "Wrong JSX parentheses causes condition to end in DOM"
See https://github.com/neos/neos-ui/blob/8634f6ef455a35f795d2be75b60d5d908384148d/packages/neos-ui/src/Containers/ContentCanvas/index.js#L103

[2018-02-21 13:06] hlubek opened #1642 "Edit/Preview width larger than content canvas space should show scrollbars"
### Description

Responsive preview modes might want to include larger breakpoints that cannot be fully shown in the content canvas on smaller monitors. Currently if the width for a preview mode exceeds the space of the content canvas element, the iframe is clipped and cannot be scrolled.

### Steps to Reproduce

1. Add a width to the desktop preview mode

[code]

2. Open the Neos backend, switch

[2018-02-21 13:26] dimaip commented on #1616
Just check, I do not see inspector requests blocking anything. Iframe starts loading about 200ms after the editors started fetching data, but before they have finished:

![image](https://user-images.githubusercontent.com/837032/36482257-c3fef956-1723-11e8-9bc3-834ae754c71c.png)

There's another problem, we should actually start loading iframe way earlier, but there's a different issue for that, wh

[2018-02-21 13:56] #1616 closed

[2018-02-22 07:49] skurfuerst commented on #1612
@dimaip @grebaldi I'd keep the iframe URLs as they are currently, to ensure pagination and other API calls still work. We cannot IMHO transfer all URLs routing-wise in the iframe to another endpoint...

Except you have another idea :)

[2018-02-22 07:52] #1641 closed

[2018-02-22 07:54] dimaip commented on #1612
@skurfuerst in fact I'd propose the oposite, and switch the host routing to frontend urls as well.

See my comment in slack: https://neos-project.slack.com/archives/C0U0KEGDQ/p1519229095000153

[2018-02-22 07:58] skurfuerst commented on #1612
I see the elegance of your solution @dimaip :)

[2018-02-22 14:22] skurfuerst commented on #1523
@bwaidelich maybe the change on https://github.com/neos/neos-ui/pull/1645 helps to fix the issue? Removing the clone is definitely wrong; we need information about the *old* location in the tree.

[2018-02-22 14:31] skurfuerst commented on #1523
I might have been hit by a similarish issue; maybe it helps to track down the issue:

- create a new page A; do not publish it.
- create a new page B as child of A; do not publish it.
- publish B.
- in backend, B is correctly shown.
- *the link to the frontend starts to become active, but it points to `/b.html` (which should be `/a/b.html`; but as the parent is not yet published, the becoming-acti

[2018-02-22 21:48] dimaip opened #1646 "RFC: lazy-load policies"
Currently rendering node information is dead slow due to policy checking. We can't instantly make it fast, it's a hard task to speed it up.

So I propose to lazy-load it.
On initial page load we just render info about current documentNode.
Then we lazily request all nodes needed to render the tree. It happens quickly, as policies are not applied at this moment (with an exception of `NodeTreePrivil

[2018-02-23 11:13] #887 closed

[2018-02-23 11:13] #1464 closed

[2018-02-23 11:29] skurfuerst commented on #1646
Makes sense :) I also checked the numbers (and after a wrong benchmark on my side) came to the same conclusions :)

[2018-02-23 16:38] bwaidelich opened #1647 "Re-add node type attribute to content element wrapping"
Previously the `NodeType` was part of the `ContentElementWrapping`:
[code]
We use that for example in the Form Builder to improve Backend UX: https://github.com/neos/form-builder/#adjust-appearance-of-the-form-builder

With the new UI that attribute no longer exists so CEs can't be targetted via CSS/JS based on their type.

I suggest to re-add the attribute, but call it `data-__neos-node-type` to

[2018-02-23 19:35] lorenzulrich commented on #1647
+1

[2018-02-25 14:02] dimaip commented on #1578
Might be a silly question, but how do you actually render content from a different site in Neos? Custom Eel helper?

[2018-02-25 20:57] #1638 closed

[2018-02-26 08:05] DrNik opened #1651 "NodeTypes properties validation feedback kicks in only after properites are populated"
Hi Guys,
as mentioned on this post: https://discuss.neos.io/t/neos-react-ui-nodetype-property-validation-issue/3097 there seems to be a bug in Noes React UI property validation mechanism.
Basically validation feedback kicks in only if the properties that needs to be validated are populated (fill in + apply) first.

Steps to reproduce:

1. Have a NodeType with a property that must be validated, lik

[2018-02-26 13:37] mstruebing opened #1654 "Upgrade to webpack 4"
Since webpack v4 is out and has many improvements regarding speed and bundle size we should upgrade asap.

Release notes can be found here: https://github.com/webpack/webpack/releases/tag/v4.0.0

An official blog post about the release: https://medium.com/webpack/webpack-4-released-today-6cdb994702d4

A migration guide isn't out there now

[2018-02-26 13:47] mstruebing opened #1655 "Add a README for every subpackage"
In order to make the suppose of each package clear, we should add a README to every subpackage.
In this README it should be shortly described what this package does and what package specific information may be needed for future developers.

[2018-02-26 14:21] mstruebing commented on #1280
As we are currently not using git hooks I close this issue for now.

[2018-02-26 14:21] #1280 closed

[2018-02-26 14:32] mstruebing commented on #1232
When I remove the line break the `<p>` tag gets removed too.
I will close this issue for now.
If this issue persists for you feel free to open it again.

[2018-02-26 14:32] #1232 closed

[2018-02-26 20:30] mstruebing commented on #611
As there is no reaction I close this for now

[2018-02-26 20:30] #611 closed

[2018-02-26 20:30] #697 closed

[2018-02-27 06:39] DrillSergeant commented on #1638
Thank you guys.

[2018-02-27 08:35] hlubek opened #1658 "Edit/Preview modes not sorted by position"
### Description

It seems edit/preview modes are not sorted by position in the UI.

### Steps to Reproduce

1. Add a new preview mode with position, e.g. `10`
2. Change `position` of predefined `desktop` mode to `20`

#### Expected behavior

Desktop comes after the new preview mode in the Edit/Preview mode panel.

#### Actual behavior

The Desktop mode stays at the beginning:
![bildschirmfoto 2018

[2018-02-27 09:19] #1658 closed

[2018-02-27 09:20] mstruebing commented on #1480
I think it's not broken anymore.

![screenshot_2018-02-26_22-25-30](https://user-images.githubusercontent.com/12071529/36720263-cc961f26-1ba7-11e8-996a-5d3678248019.png)

[2018-02-27 09:20] #1480 closed

[2018-02-27 10:04] mstruebing opened #1660 "TextArea doesn't show placeholders"
### Description

The `TextArea`-editor isn't showing any placeholders.

### Steps to Reproduce

Reproduceable in the Demo-Page in the Seo-Tab of the Inspector on the meta-description textarea.

#### Expected behavior

I expect the given placeholder to be shown.

#### Actual behavior

No placeholder is shown.

### Affected Versions

Neos: 3.3

UI: 1.0.7

There is already an issue for that: #1487

[2018-02-27 10:07] #1660 closed

[2018-02-27 12:34] mstruebing commented on #1609
Did you remember why you added this pixel?

[2018-02-27 12:37] dimaip commented on #1609
@mstruebing to make it look good in Chrome... but I think it could be subtracted, then it will be cropped by 1px in Chrome, but that'll still look ok.

[2018-02-27 12:39] mstruebing commented on #1609
![screenshot_2018-02-27_13-39-39](https://user-images.githubusercontent.com/12071529/36729177-990966b0-1bc3-11e8-9ea5-03ef77802839.png)

That's a screenshot from chrome, without that extra pixel.
Maybe I'm blind but for me it seems good

[2018-02-27 13:54] klfman commented on #1540
can confirm this behaviour and I found it annoying when updating a test server with breaking changes that need manual repairs. It would be enough to log in, check the invalid nodes, recreate them and copy over the content (for example move the items from the contentCollection of the old to the contentCollection to the new node)

[2018-02-27 14:04] klfman opened #1664 "Neos.Fusion:Debug makes ui reload indefinitely"
Searched the issues, did not find anything related.

### Description

when using Neos.Fusion:Debug to output debug information in the Neos backend the loading indicator (orange) in the top part of the screen cycles through indefinitely, suggesting, that the page is reloading all the time.
The desired debug information is rendered correctly, regardless.

### Steps to Reproduce

Just render this:

p

[2018-02-27 16:05] hlubek commented on #1664
I also noticed issues when adding content elements that output Debug information. It seems the JSON encoding of results will be broken by the Debug object.

[2018-02-27 20:18] #1202 closed

[2018-02-28 07:07] #1609 closed

[2018-02-28 07:08] #1487 closed

[2018-02-28 07:09] #1642 closed

[2018-02-28 11:49] hhoechtl opened #1666 "Inlineeditable page property causes toolbar to pop up"
### Description

We often use inlineeditable page properties to make fixed labels on the page editable. This worked with the old UI and has a different behavior in the new UI.

The new UI opens the content element toolbar which is not needed and doesn't make sense in that use-case.

![Inline editable](http://g.recordit.co/HN5ZKDhCDx.gif)

### Steps to Reproduce

Define an inlineeditable page prope

[2018-02-28 19:32] lorenzulrich opened #1667 "SelectBoxEditor cannot set reference to entity"
When using a DataSource to select an entity as described [here](https://discuss.neos.io/t/guide-how-to-select-entities-in-the-inspector-neos-2-3-lts/1664), e.g. through [this package](https://github.com/visol/Visol.Neos.AssetCollectionHelpers) (which is not yet on packagist), the selected value is lost on clicking apply and cannot be stored at all.

[2018-02-28 19:33] lorenzulrich commented on #1667
A relation with #1536 is possible.

[2018-03-01 06:53] DrillSergeant commented on #1667
I can confirm this, we experience exactly the same issue.

[2018-03-01 11:43] DrillSergeant opened #1668 "Node Creation Dialog shows i18n as label for node-title"
![image](https://user-images.githubusercontent.com/883552/36843027-e459ef64-1d4d-11e8-99d2-f0fd5041979e.png)

### Steps to Reproduce

1. Create a document node

#### Expected behavior

The creation dialog should display the correct label for the title-field

#### Actual behavior

"i18n" is shown as label.

### Affected Versions

Neos: 3.3.6
UI: 1.0.7

[2018-03-01 11:47] dimaip commented on #1668
Duplicate of #1422

[2018-03-01 11:47] #1668 closed

[2018-03-01 11:48] dimaip commented on #1668
Btw, an easy first pick ;)

[2018-03-01 12:00] DrillSergeant commented on #1668
Oh, did not see that issue when filtering issues for "dialog". :-)

[2018-03-02 08:26] #1495 closed

[2018-03-02 10:26] hhoechtl commented on #1495
Not resolved. Tested with 1.0.7

![image](https://user-images.githubusercontent.com/5076356/36894653-642f7ca4-1e0c-11e8-944d-ee6c498c167a.png)

![image](https://user-images.githubusercontent.com/5076356/36894667-70b782b4-1e0c-11e8-80ab-25ed1f361923.png)

[2018-03-02 10:46] hhoechtl commented on #1495
OK, on recent master, the error dissappeared but the Master view is now empty.

Old UI:
![image](https://user-images.githubusercontent.com/5076356/36895416-158065c0-1e0f-11e8-9330-6f59198300ea.png)

New UI:

![image](https://user-images.githubusercontent.com/5076356/36895501-604c0410-1e0f-11e8-9b4d-c71d786c65bc.png)

[2018-03-02 11:51] kitsunet opened #1682 "Dynamic configuration doesn't work for group or editor"
The feature #1618 does not work for setting the inspector group or editor (as the example in the PR shows) because that part of the configuration is extracted before the processing happens. It would be nice though to be able to do that.

[2018-03-02 11:51] kitsunet commented on #1682
@dimaip This is it :)

[2018-03-02 13:10] soee opened #1683 "[BUG] After upgrade to 1.0.8 user is unable to logout from backend"
The logout button does nothing - we can't logout from backend.

[2018-03-02 16:23] DrillSergeant commented on #1683
Same here

[2018-03-02 16:25] DrillSergeant commented on #1666
This looks to me similar to https://github.com/neos/neos-ui/issues/1481

[2018-03-02 16:37] dimaip commented on #1683
I'm on it.

[2018-03-02 16:57] kitsunet opened #1686 "Make loading "spinner" a color-changing Neos logo"
I imagine a Neos "N" going through several color variations as a loading animation. Would look so much cooler and more Neos than the "ring" we have now.

[2018-03-02 17:09] #1683 closed

[2018-03-02 20:27] dimaip commented on #1667
So, there are two things here.
1. I fixed SelectBox to work with objects and integers.
2. Using `json_encode` here is no longer needed, if I remove it starts working: https://github.com/visol/Visol.Neos.AssetCollectionHelpers/blob/master/Classes/DataSources/AssetCollectionDataSource.php#L57
If you want to support both old and new UI you got to do smth like this in the data source:https://github.co

[2018-03-02 20:55] dimaip opened #1688 "Hardcoded conversion of data coming from the UI"
edit: Currently we serialize data with `Neos\Neos\Service\Mapping\NodePropertyConverterService` and de-serialize it with `Neos\Neos\Ui\Domain\Service\NodePropertyConverterService`.

`Neos\Neos\Ui\Domain\Service\NodePropertyConverterService` has hardcoded converting of data coming from the UI.

[2018-03-02 20:56] #1667 closed

[2018-03-02 20:57] kitsunet commented on #1688
`userInterface.inspector.dataTypes` is totally sensible if you need to represent any arbitrary data as node property
unless we find another way to do that

[2018-03-02 20:58] dimaip commented on #1667
Guys, there are two issues here.

1. SelectBox editor didn't work with non-string values. It does now.
2. The horror of `typeConverter`s. See https://github.com/neos/neos-ui/issues/1688

In practice that means that to get a working entity selectbox, you can just remove `json_encode` from your datasource and it would start working.
Please confirm!

[2018-03-02 21:15] dimaip commented on #1688
Updated the issue to reflect our discussion in Slack.

[2018-03-02 21:16] dimaip commented on #1536
Should be fixed in master. Please test and re-open if not.

[2018-03-03 05:38] dimaip commented on #1688
Comment from @skurfuerst:

[code]

[2018-03-05 08:39] DrillSergeant commented on #1683
Thank you, logout works now on dev-master

[2018-03-05 08:45] DrillSergeant commented on #1536
@dimaip Nice, the value is saved now and displayed correctly when reloading the page:
![image](https://user-images.githubusercontent.com/883552/36965320-9d8313cc-2059-11e8-8804-28d8da9f302c.png)

But when opening the selectboxEditor the current value is not set:
![image](https://user-images.githubusercontent.com/883552/36965373-c770ebbe-2059-11e8-942c-137496dddb39.png)

 and when I just close it (

[2018-03-05 08:46] DrillSergeant commented on #1536
How to repoen this issue? I see no button for that.

[2018-03-05 09:13] DrillSergeant commented on #1667
Yeah, works when removing the json_encode in the datasource. Thank you.

[2018-03-05 09:26] DrillSergeant opened #1689 "Reloading the current document node"
I often want to reload the current document node while I am in the backend. When I click on the current node in the document tree, nothing happens.
Right now I reload the current document by loading another document and then again the recent document. Or I reload the whole browser tab when reloads the whole ui.
Both workarounds are not really nice to work with.

Is it a bug that you cannot reload

[2018-03-05 09:56] mstruebing commented on #1689
Why do you want to do that?

[2018-03-05 11:30] DrillSergeant commented on #1689
While development I often change things like rendering, properties, translations and need to reload the current document node to see my changes in action. Some of the changes needs a complete UI reload but many of them just need to reload the current document node.

In my company every developer has this need. Do you work a different way?

[2018-03-05 12:45] dimaip commented on #1689
I've heard many people expected exactly the described behavior. It's a UX issue, not a bug per se, but I think we should fix it, shouldn't be hard.

[2018-03-05 16:48] lorenzulrich commented on #1667
Can confirm this, too. Thanks!

[2018-03-06 08:15] #1461 closed

[2018-03-06 08:43] dimaip commented on #1688
Will close for now, as it's not clear what to do about it.

[2018-03-06 08:43] #1688 closed

[2018-03-06 11:22] dimaip commented on #1536
@DrillSergeant I don't think that the issue you described actually relates to datasources, does it?

[2018-03-06 12:11] bwaidelich opened #1691 "BUG: Navigating the Document Tree makes filtered nodes disappear"
### Description

When a node type filter is active in the `navigateComponent`, when navigating the node tree previously filtered nodes disappear..

This is not easy to explain, here's a video of the bug in action:

![broken_node_filter](https://user-images.githubusercontent.com/307571/37031524-6b83862c-213f-11e8-988f-3309c6de491a.gif)

I don't understand what is happening exactly, but I can confir

[2018-03-06 12:37] skurfuerst commented on #1523
@bwaidelich can you test #1645 whether it fixes the bug?

[2018-03-06 12:43] bwaidelich commented on #1523
@skurfuerst yes, sorry for the delay and thanks for the reminder. On it now ;)

[2018-03-06 12:56] bwaidelich commented on #1523
I can confirm that #1645 fixes the issue described above! 🎉
The node still loses focus when it is moved, but that's just a minor problem compared to the original bug.

The bug @skurfuerst described in https://github.com/neos/neos-ui/issues/1523#issuecomment-367698026 is still reproducible though.

[2018-03-06 13:01] dimaip commented on #1523
I'll close this issue then. @skurfuerst could you please create a separate issue for "your" bug? :)

[2018-03-06 14:23] Nikdro opened #1694 "Neos does not render Help message from Yaml file."
The Help message is not rendered by following the guide at http://neos.readthedocs.io/en/3.3/References/PropertyEditorReference.html#property-type-string-textfieldeditor-single-line-text-editor-default.

(Taken from https://github.com/neos/neos-development-collection/issues/1830 @Nguonchhay)

[2018-03-07 07:16] DrillSergeant commented on #1536
@dimaip yes it might be just a bug in the seletboxEditor frontend-control. I mentioned it here because the behaviour almost the same as described in initial issue report here.
Shall I rather open a new issue for this instead?

[2018-03-07 07:29] dimaip commented on #1694
Wow, I was absolutely sure I had implemented it already, but looks like not...

[2018-03-07 07:38] dimaip commented on #1536
@DrillSergeant yes please, would be helpful if you could re-test with plain selectbox and open a separate issue describing the results of your findings.

[2018-03-07 07:38] #1536 closed

[2018-03-07 10:33] dimaip commented on #1481
Can confirm, will take care.

[2018-03-07 10:33] dimaip commented on #1666
Indeed, a duplicate.

[2018-03-07 10:33] #1666 closed

[2018-03-07 14:14] soee opened #1698 "[BUG] Could not resolve a route error when trying to render links"
I'm not sure if this is related to new UI directly or some PHP code changes to but if i add on my page element that should render pagination (generate links) it renders fine if i load the page but as soon as i change node configuration and it has to reload it's content it ends up with an error: `Could not resolve a route and its corresponding URI for the given parameters. This may be due to referr

[2018-03-08 07:28] #1479 closed

[2018-03-08 07:30] #1028 closed

[2018-03-08 08:09] #1481 closed

[2018-03-08 14:03] cvette opened #1699 "hideInMenu does not work in Content module"
### Description

When setting `hideInMenu` to true on a submodule, the menu item is hidden in every module except the Neos content module.

### Steps to Reproduce

1. Specify the `hideInMenu` Setting for a submodule
[code]
2. Open the content module (your site)

#### Expected behavior

The submodule should not be shown in the menu.

#### Actual behavior

The submodule is shown in the Neos content

[2018-03-08 15:06] rolandschuetz opened #1700 "Usability: Preview mode background should be grey"
### Description

Most websites have a white background, a mobile preview mode now had a white iframe on a white background. The Neos background should b grey so that the borders of the preview are clear to recognize.

Even cooler would be custom background images to achieve an effect like this:
http://mobiletest.me/iphone_5_emulator/?u=http://neos.io

### Steps to Reproduce

use a smartphone previ

[2018-03-08 15:41] klfman opened #1701 "Make LinkEditor less restrictive"
When entering URLs in the Neos.Neos/Inspector/Editors/LinkEditor in the property inspector I wish one could enter "www.foo.bar" or "http://foo.bar". Instead I'm forced to type "http://www.foo.bar".

I would be glad if the link editor behaved a little less restrictive and accepted all three versions.

[2018-03-08 20:38] #1699 closed

[2018-03-10 17:36] cvette commented on #1694
Why is this planned only for the Text Editor? Wouldn't something like this make sense for all editors? It could be a small _question-circle_ icon next to the label that shows a tooltip (or just slides in the message) when clicked.

[2018-03-10 20:22] dimaip commented on #1694
It's not related to any editor, it would be implemented the way it was in the old UI and as documented.

[2018-03-10 21:18] cvette commented on #1694
You mean the help for the node type itself. But @Nikdro linked the documentation of the _TextFieldEditor_ which shows that you can specify a help message for a node property. That would be nice to have as well.

[2018-03-10 22:09] dimaip commented on #1694
I know how help messages worked in the old UI (I implemented them). They are supposed to work for any property, just as you have described.

[2018-03-12 13:24] DrillSergeant opened #1704 "SelectBox not showing current value for integer properties"
### Steps to Reproduce

1. create a node-property with this config
[code]

2. Go to the backend, select a value from the selectBox and click "apply"

#### Expected behavior
After reload of the document (reloadIfChanged is true) the selected value is shown in the editor.

#### Actual behavior
After reload of the document the editor is empty (there is no option selected).

The value is saved in db c

[2018-03-12 13:25] dimaip commented on #1704
Thanks for reporting, I think I know what may be still wrong. Will take care.

[2018-03-12 13:38] dimaip commented on #1704
@DrillSergeant actually I have just tested on master and it works perfectly fine.
Could you please test on master and re-open if it doesn't work for you.

[2018-03-12 13:38] #1704 closed

[2018-03-12 14:49] DrillSergeant commented on #1704
Ah nice, it works on master. Thank you!

[2018-03-14 08:26] klfman commented on #1620
Can confirm this bug

[2018-03-14 08:30] dimaip commented on #1620
Will try to look into it in a few days, if nobody else does before me.

[2018-03-16 10:09] MCStreetguy opened #1707 "Unset or empty inspector groups still show up"
### Description

When you override existing inspector groups in a yaml configuration file with `~` these groups still show up in the inspector as empty collapsibles.
(Empty groups with no properties belonging to them also still show up, maybe this is related behaviour)

### Steps to Reproduce

1. Define an inspector group in a NodeType
2. Define another NodeType inheriting from the first
3. Overri

[2018-03-16 13:02] DrillSergeant commented on #754
I need that in a current project. Especially I need to know when a content node is inserted into the DOM and I need to know the nodeType in the eventlistener.

If someone can implement this in the near future (next 3 weeks), I can offer some donation from my project budget. Currently I could give like 500 € for that.

[2018-03-16 13:19] dimaip commented on #754
I had this on my todo list, but the tricky part is figuring out what events are really needed.
E.g. currently all of these things are already possible via our extensibillity API (by registering a custom Saga and listening for the right kind of Redux actions).
@DrillSergeant maybe we could have a call about what things you would want to achieve and what would be the best way to do it?

[2018-03-16 13:54] dimaip opened #1708 "Asset upload editor doesn't show any spinner while uploading"

[2018-03-16 14:16] DrillSergeant commented on #754
@dimaip yeah nice. We already chatted on slack about this. I would love to explain my need during a call.

[2018-03-16 14:44] jonnitto commented on #754
@dimaip I think @grebaldi has there a good opinion: His list of events who are obsolete looks very good to me. At the end, there are this events left:

- `Neos.NodeCreated`
- `Neos.NodeRemoved`
- `Neos.NodeSelected`

The only I would recommend to have from the obsolete ist is `Neos.FullScreenModeActivated` and `Neos.FullScreenModeDeactivated`, because sometimes you want to use it as a "fast previe